@use "../../styles/mixins" as mixins;
@use "../../styles/variables" as var;

.history {
  padding: 72px 0px;
}

.title {
  text-align: center;
  margin-bottom: 56px;
  @include mixins.apply-font-styles(var.$h1-font);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
}
.text {
  max-width: 566px;
  padding: 20px;
  border: 1px solid var.$primary-border;
  border-radius: 16px;
  background-color: var.$primary-fon-card;
  text-align: center;
  margin-bottom: 32px;
  @include mixins.apply-font-styles(var.$text-20-font);
}
