@use "../../styles/mixins" as mixins;
@use "../../styles/variables" as var;

.title {
  text-align: center;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 48px;
  @include mixins.apply-font-styles(var.$h1-font);
}
.container {
  padding: 70px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text {
  max-width: 566px;
  padding: 20px;
  border: 1px solid #ff62ce;
  border-radius: 16px;
  background-color: #180530;
  text-align: center;
  margin-bottom: 32px;
  @include mixins.apply-font-styles(var.$text-20-font);
}
