@use "../../styles/mixins" as mx;
@use "../../styles/variables" as var;

.mentor{
  padding: 32px 16px;

  @include mx.media-q("md") {
    padding: 60px 40px;
  }

  @include mx.media-q("xxxl") {
    padding: 72px 40px;
  }

  .title {
    @include mx.apply-font-styles(var.$h1-font);
    text-align: center;
    font-weight: 700;
    font-size: 26px;
    line-height: normal;

    @include mx.media-q("md") {
      font-weight: 600;
      font-size: 32px;
      margin-bottom: 20px;
    }

    @media (min-width: 1280px) {
      font-size: 40px;
      margin-bottom: 48px;
    }

    @include mx.media-q("xxxl") {
      margin-bottom: 56px;
    }
  }

  .container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .wrapper {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;

      @media (min-width: 1280px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 48px;
      }

      @include mx.media-q("xxxl") {
        margin-bottom: 56px;
      }
    }

    .text {
      box-shadow: inset 0 2px 20px 0 rgba(114, 109, 113, 0.6);
      background: rgba(210, 210, 210, 0.5);

      border-radius: 16px;
      padding: 20px;
      width: 100%;
      max-width: 607px;
      position: relative;
      transform: translateY(-7vw);
      @include mx.apply-font-styles(var.$text-20-font);
      font-weight: 400;
      font-size: 14px;
      z-index: 3;

      @media (min-width: 660px) {
        transform: translateY(-60px);
      }

      @include mx.media-q("md") {
        font-size: 20px;
      }

      @media (min-width: 1280px) {
        transform: translate(15px, 20px);
      }

      .text_mb{
        margin-bottom: 21px;
        @include mx.media-q("md") {
          margin-bottom: 30px;
        }
      }
    }

    .wrapper_img{
      position: relative;
      width: clamp(288px, 92vw, 573px);
      height: clamp(282px, 87vw, 550px);
      transform: translateY(5vw);

      @media (min-width: 660px) {
        transform: translateY(20px);
      }

      @media (min-width: 1280px) {
        transform: translateX(-15px);
      }

      .image {
        display: none;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
      .image_mobile{
        display: block;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }

      @media (min-width: 1280px)  {
        .image {
          display: block;
        }
        .image_mobile{
          display: none;
        }
      }
    }
  }
}






