@use "../../styles/variables" as var;
@use "../../styles/mixins" as mixin;

.section {
  background-image: var.$primary-gradient;
  color: var.$secondary-white;
  width: 100%;
  padding: 32px 16px;

  @media (min-width: 640px) {

  padding: 38px 10px;
  }

  @include mixin.media-q("xl") { 
    padding: 60px 16px;

}
  @include mixin.media-q("xxxl") { 
    padding: 72px 16px;
}


}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  @media (min-width: 640px) {

    gap: 22px;
    }
  
  @include mixin.media-q("xl") { 
    gap: 48px;
  }

  @include mixin.media-q("xxxl") { 
    gap: 56px;
  }
}

.title {
  @include mixin.apply-font-styles(var.$h7-font);
  @include mixin.media-q("md") { 
    @include mixin.apply-font-styles(var.$h5-font);
    text-align: center
  }
  @include mixin.media-q("xl") { 
    @include mixin.apply-font-styles(var.$h1-font);


  }


}

.sliderContainer {
  will-change: transform;
  width: 95vw;
  @media (min-width: 640px) {

      width: 100%;
    }
    @include mixin.media-q("xl") { 
      max-width: 1238px;
  }
    @include mixin.media-q("xxxl") { 
      max-width: 1920px;
    }
  }

.titleRow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 320px;

  @media (min-width: 640px) {
    width: 620px;
  }
  
  @include mixin.media-q("xl") { 
  position: relative;

  width: 1236px;
}

  @include mixin.media-q("xxxl") { 
  width: 1320px;
  }
}

.prevBtn {
  transform: rotate(180deg);
}

.navigation {
  display: none;
  @media (min-width: 640px) {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  gap: 16px;
  }
  
}




