@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Montserrat:wght@400;500;600&display=swap");

// Primary colors
$primary-footer: #441534;
$primary-primary: #702156;
$primary-hover: #c0a4b7;
$primary-fon: #faf4f8;

// Gradient
$color1: #e37cc1;
$color2: #e231a8;
$color3: #8c2e6d;
$color4: #741e58;

$primary-gradient: linear-gradient(90deg, $color1 0%, $color2 37%, $color3 76%, $color4 100%);

// Secondary colors
$secondary-black: #030110;
$secondary-white: #fcfcfc;
$secondary-text: #363636;
$secondary-gray: #9a9a9a;
$secondary-hover: #ededed;
$secondary-error: #f94949;

// Fonts
$counter-font: (
  "font-family": (
    "Open Sans, sans-serif",
  ),
  "font-size": 48px,
  "letter-spacing": 1%,
  "font-weight": 600,
  "line-height": 150%,
);
$h1-font: (
  "font-family": (
    "Open Sans",
    "sans-serif",
  ),
  "font-size": 40px,
  "letter-spacing": 1px,
  "font-weight": 600,
  "line-height": 150%,
);

$h2-font: (
  "font-family": (
    "Montserrat",
    "sans-serif",
  ),
  "font-size": 24px,
  "letter-spacing": 1%,
  "font-weight": 500,
  "line-height": 150%,
);

$h3-font: (
  "font-family": (
    "Open Sans",
    "sans-serif",
  ),
  "font-size": 18px,
  "letter-spacing": 1%,
  "font-weight": 600,
  "line-height": 150%,
);

$button: $h3-font;
$menu: $h3-font;

$text-20-font: (
  "font-family": (
    "Montserrat",
    "sans-serif",
  ),
  "font-size": 20px,
  "letter-spacing": 1%,
  "font-weight": 400,
  "line-height": 150%,
);

$text-16-font: (
  "font-family": (
    "Montserrat",
    "sans-serif",
  ),
  "font-size": 16px,
  "letter-spacing": 1%,
  "font-weight": 400,
  "line-height": 150%,
);

@mixin apply-font-styles($font-map) {
  font-family: map-get($font-map, "font-family");
  font-size: map-get($font-map, "font-size");
  letter-spacing: map-get($font-map, "letter-spacing");
  font-weight: map-get($font-map, "font-weight");
  line-height: map-get($font-map, "line-height");
}
