@use "../../../styles/variables" as var;

.btn{
  transition: all var.$transition-duration-base var.$transition-timing-base;
  & > svg{
    display: block;
    width: 32px;
    height: 32px;
  }

  &:hover{
    opacity: .7;
  }
}