.list {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-top: 8px;

  @media (min-width: 697px) {
    justify-content: flex-start;
    margin-top: 0;
  }
}

.icon {
  width: 48px;
  height: 48px;
  fill: #fcfcfc;
  transition: all 0.3s ease 0s;

  &:hover {
    fill: #a03a7e;
  }
}
