@use "../../../../styles/mixins" as mix;
@use "../../../../styles/variables" as var;

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;

  .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 12px;
    gap: 20px;
    box-shadow: 0 4px 4px 0 rgba(87, 86, 89, 0.25), 0 2px 12px 0 rgba(40, 37, 37, 0.25);
    background: var.$primary-fon-card;
    border-radius: 3px;
    .list_item{
      position: relative;
      .btn{
        position: absolute;
        right: 10px;
        top: 40px;
        &svg{
          fill:#030110;
        }
      }
    }
    .item_wrapper{
      display: flex;
      align-items: flex-end;
      gap: 24px;
    }
    .btn_edit{
      width: 40px;
      height: 40px;
    }
    .edit_black{
      position: absolute;
      right: 10px;
      top: 40px;
      //fill: #030110;
      stroke: #030110;
    }
    .edit_white{
      //fill: #030110;
      stroke: #FCFCFC;
    }

    .item {
      width: clamp(280px, 84vw, 360px);
      display: flex;
      flex-direction: column;
      position: relative;
      & > input{
        padding: 10px 35px 10px 10px;
      }
      & > label{
        font-weight: 600;
        font-size: 18px;
      }

      .btn_option{
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 12px;
        
        @include mix.apply-font-styles(var.$h3-font);
        font-weight: 600;
        font-size: 18px;

        &.agree{
          @include mix.apply-font-styles(var.$text-16-font);
          font-size: 16px;
        }

        & input{
          display: none;
        }

        .check{
          width: 24px;
          height: 24px;
          border-radius: 2px;
          border: 1px solid var.$secondary-gray;
         
          & svg{
            opacity: 0;
            display: block;
            border-radius: 2px;
            width: 24px;
            height: 24px;
          }

          &._active{
            border: none;

            & svg{
              opacity: 1;
            }
          }
        }
      }

    }

    .error_modal{
      @include mix.apply-font-styles(var.$text-16-font);
      font-size: 14px;
      color: var.$secondary-error;
    }
  }

  .btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > button{
      height: 55px;
      font-weight: 600;
      font-size: 18px;
    }
    .btn_cancel{
      padding: 15px 24px;
      border: 3px solid  #c0a4b7;
      box-shadow: inset 3px 3px 4px 0 rgba(0, 0, 0, 0.25);
      color: #fcfcfc;
    }
  }
}