@use "../../../../styles/mixins" as mix;
@use "../../../../styles/variables" as var;

.form{
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 100%;

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 5px;
    align-items: flex-end;
    padding: 32px 12px;
    box-shadow: 0 4px 4px 0 rgba(87, 86, 89, 0.25), 0 2px 12px 0 rgba(40, 37, 37, 0.25);
    background: var.$primary-fon-card;
    border-radius: 3px;
    width: 100%;
    .list_item{
      .item{
        width: 100%;
        min-width: 210px;
      }
    }

  }

  .btns{
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn{
      height: 55px;
      width: 230px;
      font-weight: 600;
      font-size: 18px;
    }
    .btn_cancel{
      padding: 15px 24px;
      border: 3px solid  var.$border-btn-admin;
      box-shadow: inset 3px 3px 4px 0 rgba(0, 0, 0, 0.25);
      color: var.$secondary-white;
    }
  }
}