@use "../../../styles/variables" as var;
@use "../../../styles/mixins.scss" as mx;

.box {
  color: var.$secondary-white;
  position: relative;
  .btn_lang {
    @include mx.apply-font-styles(var.$menu);
    width: 65px;
    padding: 14px 8px;
    display: flex;
    align-items: center;
    transition: all var.$transition-duration-base var.$transition-timing-base;
  }
  .btn_icon_up {
    transform: rotate(180deg);
  }
  .btn_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    transition: all var.$transition-duration-base var.$transition-timing-base;
    & > svg {
      display: block;
      width: 15px;
      height: 9px;
    }
  }

  .btn_lang:hover {
    opacity: 0.65;
  }

  .options {
    display: flex;
    flex-direction: column;
    background-color: var.$primary-primary;
    width: 65px;
    border-radius: 2px;
    position: absolute;
    bottom: -80px;
    left: 0;
    z-index: 5;
  }
  .options_item_btn {
    @include mx.apply-font-styles(var.$menu);
    padding: 8px;
    text-align: start;
    transition: all 0.3s;
  }

  .options_item_btn:hover {
    color: var.$primary-hover;
  }
}
