@use "../../../styles/variables" as var;
@use "../../../styles/mixins.scss" as mx;

.wrapp{
  min-width: 220px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var.$primary-fon-card;
  transition: all .5s;

  .skroll{
    max-height: 700px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    
    }
    padding-bottom: 50px;

    @media (min-height: 850px) {
      padding-bottom: 80px;
    }

  }

  .header{
    padding: 12px 34px;
    background: var.$primary-primary;
    transition: all .5s;
  }

  .btn{
    margin-left: auto;
    margin-bottom: 20px;
    min-height: 40px;
    border-radius: 4px 0 0 4px;
    padding: 13px 16px;
    .icon {
      transform: rotate(180deg);
      display: block;
      width: 8px;
      height: 14px;
      fill: #fff;
      transition: transform .5s;
      @media (max-width: 1100px) {
        transform: rotate(0);
      }

      &._active{
        transform: rotate(0);
        @media (max-width: 1100px) {
          transform: rotate(180deg);
        }
      }

      @media (min-height: 850px) {
        margin-bottom: 40px;
      }
    }
  }
  .list{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
    &>li{
      height: 44px;
    }
    @media (min-height: 850px) {
      padding-bottom: 40px;
    }
  }
  .link{
    @include mx.apply-font-styles(var.$text-16-font);
    white-space: nowrap;
    overflow: hidden;
    transition: all .5s;
    margin: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 12px;
    position: relative;
    &::before {
      content: "";
      width: 0;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: var.$primary-hover;
      transition: all 0.3s ease 0s;
    }

    &._active,
    &:hover  {
      color: var.$primary-hover;
      & > svg{
        opacity: .5;
      }

      &::before {
        width: 100%;
      }
    }

    .icon{
      display: block;
      min-width: 20px;
      min-height: 20px;
      width: 20px;
      height: 20px;
      margin-bottom: 2px;
    }
  }
  .menu{
    .menu_btn{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      .link{
        width: 100%;
      }
      .option_btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        margin-right: 12px;
        .btn_icon{
          width: 15px;
          height: 15px;
          fill: #fff;
          transform: rotate(-90deg);
          &._active{
            transform: rotate(90deg);
          }
        }
      }
    }
    .menu_option{
      overflow: hidden;
      &._hide_menu{
        height: 0;
      }
      .link{
        background: #4d0959;
        border-radius: 4px;
        justify-content: center;
      }

      .link._active{
        background: #8c10a1;
      }
    }

  }
  .btn_exit{
    width: 80%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    padding: 15px 0;
    & > svg{
      min-width: 24px;
      width: 24px;
      height: 24px;
    }
  }
  
  @media (max-width: 1100px) {
    min-width: 80px;
    .logo{
      display: block;
    }
    .header{
      padding: 12px;
    }
    .link{
      justify-content: center;
    }
    .btn_exit{
      width: 50px;
      padding: 15px 0;
    }
    .text{
      display: none;
    }
  }

  &._hide{
    min-width: 80px;
    .logo{
      display: block;
    }
    .header{
      padding: 12px;
    }
    .link{
      justify-content: center;
    }
    .btn_exit{
      width: 50px;
      padding: 15px 0;
    }
    .text{
      display: none;
    }
    @media (max-width: 1100px) {
      min-width: 220px;
      .logo{
        display: block;
      }
      .header{
        padding: 12px 34px;
      }
      .link{
        justify-content: flex-start;
      }
      .btn_exit{
        width: 80%;
        padding: 15px;
      }
      .text{
        display: inline;
      }
    }
  }
}