@use "../../../../../styles/mixins" as mix;
@use "../../../../../styles/variables" as var;

.form{
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 100%;

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 5px;

    align-items: flex-end;
    padding: 32px 12px;
    box-shadow: 0 4px 4px 0 rgba(87, 86, 89, 0.25), 0 2px 12px 0 rgba(40, 37, 37, 0.25);
    background: var.$primary-fon-card;
    border-radius: 3px;
    width: 100%;
    .list_item{
      .item{
        width: 100%;
        min-width: 210px;
      }


      .wrapper{
        display: flex;
        flex-direction: column;
        .label{
          @include mix.apply-font-styles(var.$text-20-font);
          font-weight: 600;
          font-size: 18px;
        }
        .select{
          width: 100%;
          @include mix.apply-font-styles(var.$text-16-font);
          color: var.$secondary-black;
          border: 2px solid transparent;
          border-radius: 8px;
    
          padding: 10px;
          outline: 0;
          background: var.$secondary-white;
          transition: all var.$transition-duration-base var.$transition-timing-base;
          .option{
            padding: 20px;
            border-radius: 8px;
          }
        }


      }

 

    }
    .grid1 { grid-area: 1 / 1 / 2 / 2; }
    .grid2 { grid-area: 1 / 2 / 2 / 3; }
    .grid3 { grid-area: 1 / 3 / 2 / 4; }
    .grid4 { grid-area: 2 / 1 / 3 / 2; }
    .grid5 { grid-area: 3 / 1 / 4 / 2; }
    .grid6 { 
      width: 100%;
      height: 100%;
      background-color: aqua;
      grid-area: 2 / 2 / 4 / 4; 
    }

  }
  // .parent {
  //   display: grid;
  //   grid-template-columns: repeat(3, 1fr);
  //   grid-template-rows: repeat(3, 1fr);
  //   grid-column-gap: 24px;
  //   grid-row-gap: 10px;
  //   }
    

  .btns{
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn{
      height: 55px;
      width: 230px;
      font-weight: 600;
      font-size: 18px;
    }
    .btn_cancel{
      padding: 15px 24px;
      border: 3px solid  var.$border-btn-admin;
      box-shadow: inset 3px 3px 4px 0 rgba(0, 0, 0, 0.25);
      color: var.$secondary-white;
    }
  }
}