@use "../../../styles/variables" as var;
@use "../../../styles/mixins" as mixin;

.link {
  @include mixin.apply-font-styles(var.$h3-font);
  position: relative;
  padding: 3px 0;
  color: var.$secondary-white;
  transition: all var.$transition-duration-base var.$transition-timing-base 0s;
  @media (any-hover: hover) {
    &:hover,
    &:focus {
      color: var.$primary-hover;
    }
  }

  &:active {
    color: var.$secondary-white;
    &::before {
      width: 100%;
      background-color: var.$secondary-white;
    }
  }

  &--default {
    color: var.$secondary-white;
    &::before {
      content: "";
      width: 0;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: var.$primary-hover;
      transition: all 0.3s ease 0s;
    }
    @media (any-hover: hover) {
      &:hover,
      &:focus {
        color: var.$primary-hover;
        &::before {
          width: 100%;
        }
      }
      &:active {
        color: var.$secondary-white;
        &::before {
          width: 100%;
          background-color: var.$secondary-white;
        }
      }
    }
  }

  &--help {
    border-bottom: 1px solid var.$secondary-white;
    @media (any-hover: hover) {
      &:hover,
      &:focus {
        border-bottom: 1px solid var.$primary-hover;
      }
      &:active {
        border-bottom: 1px solid var.$secondary-white;
      }
    }
  }

  &--footer {
    color: var.$secondary-white;
    @media (any-hover: hover) {
      &:active {
        text-decoration: underline;
      }
    }
  }
}
