@import "../../../styles/variables";
@import "../../../styles/mixins";

.link {
  @include apply-font-styles($h3-font);

  position: relative;

  color: $secondary-white;
  text-decoration: none;

  transition: all 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover,
    &:focus {
      color: $primary-hover;
    }
  }

  &:active {
    color: $secondary-white;
    &::before {
      width: 100%;
      background-color: $secondary-white;
    }
  }

  &--default {
    color: $secondary-white;
    &::before {
      content: "";
      width: 0;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $primary-hover;
      transition: all 0.3s ease 0s;
    }
    @media (any-hover: hover) {
      &:hover,
      &:focus {
        color: $primary-hover;
        &::before {
          width: 100%;
        }
      }
      &:active {
        color: $secondary-white;
        &::before {
          width: 100%;
          background-color: $secondary-white;
        }
      }
    }
  }

  &--help {
    border-bottom: 1px solid $secondary-white;
    @media (any-hover: hover) {
      &:hover,
      &:focus {
        border-bottom: 1px solid $primary-hover;
      }
      &:active {
        border-bottom: 1px solid $secondary-white;
      }
    }
  }

  &--footer {
    color: $secondary-white;
    @media (any-hover: hover) {
      &:active {
        text-decoration: underline;
      }
    }
  }
}
