@use "../../../../styles/mixins" as mix;
@use "../../../../styles/variables" as var;

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media (min-height: 800px) {
    gap: 36px;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .item {
      width: clamp(280px, 84vw, 360px);
    }

    /* Tooltip container */
    .tooltip {
      position: relative;
    }

    .tooltip:focus ._active,
    .tooltip:hover ._active {
      visibility: visible;
      opacity: 1;
    }
  }
}