@use "../../styles/mixins" as mixins;
@use "../../styles/variables" as var;
.faq {
  padding: 60px 0;
}
.title {
  text-align: center;
  @include mixins.apply-font-styles(var.$h1-font);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  @media (max-width: 768px) {
    gap: 24px;
  }
}
