@use "../../../styles/mixins" as mix;
@use "../../../styles/variables" as var;

.section{
  background:linear-gradient(90deg,rgba(15, 3, 31, 0.9)10%,rgba(15, 3, 31, 0.6)) ,url('/images/admin/background-dark.jpg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;

  .title{
    @include mix.apply-font-styles(var.$h2-font);
    width: 100%;
    text-align: center;
    font-size: 32px;
    padding: 24px;
  }
  .text{
    @include mix.apply-font-styles(var.$h2-font);
    width: 100%;
    font-weight: 400;
    font-size: 22px;
    padding:10px 34px;
  }
  
  .sub_text{
    @include mix.apply-font-styles(var.$h2-font);
    width: 100%;
    font-weight: 400;
    text-align: end;
    font-size: 16px;
    padding: 34px;
    font-style: oblique;
  }
}