@use "../../../styles/mixins" as mix;
@use "../../../styles/variables" as var;

.title{
  @include mix.apply-font-styles(var.$h2-font);
  width: 100%;
  text-align: center;
  font-size: 28px;
  padding: 24px;
}
.text{
  @include mix.apply-font-styles(var.$h2-font);
  width: 100%;
  font-weight: 400;
  font-size: 22px;
  padding:10px 34px;
}

.sub_text{
  @include mix.apply-font-styles(var.$h3-font);
  width: 100%;
  font-weight: 400;
  text-align: end;
  font-size: 16px;
  padding:34px;
}