@use "../../../styles/variables" as var;
@use "../../../styles/mixins" as mx;

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var.$primary-primary;
  padding: 12.5px 0;
  @media (min-width: 1025px) {
    padding: 22.5px 0;
  }
}

.wrapper {
  max-width: 1680px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 10px;

  @media (min-width: 1025px) {
    padding: 0 40px;
  }
}

.logo {
  z-index: 9;
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
  & > {
    flex-shrink: 0;
  }
  @media (min-width: 1050px) {
    gap: 48px;
  }
}

.headerBtn {
  display: none;
  @media (min-width: 993px) {
    display: block;
  }
}
