@use "../../../../styles/variables" as var;
@use "../../../../styles/mixins" as mx;

.content {
.content {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: var.$primary-fon-card;
  padding: 112px 40px 60px 40px;
  z-index: 11;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition:
    right 0.3s ease 0s,
    right 0.3s ease 0s,
    visibility 0.3s ease 0s;
  text-align: center;
  &::before {
    content: "";
    position: fixed;
    display: block;
    height: 80px;
    background-color: var.$primary-fon-card;
    width: 100%;
    top: 0;
    right: -100%;
    right: -100%;
    z-index: 2;
    box-shadow: 0 30px 30px var.$primary-fon-card;
    transition: right 0.3s ease 0s;
  }
  &.opened {
    right: 0;
    visibility: visible;
    &::before {
      right: 0;
    }
    transition: right 0.3s ease 0s;
  }
  &.opened {
    right: 0;
    visibility: visible;
    &::before {
      right: 0;
    }
  }
  @media (min-width: 993px) {
    display: none;
  }
  @media (min-width: 421px) {
    width: 320px;
    right: -320px;
    &::before {
      width: 320px;
      right: -320px;
    }
  }
  @media (min-width: 601px) {
    width: 400px;
    right: -400px;
    &::before {
      width: 400px;
      right: -400px;
    }
  }
}
.background {
  display: none;
  @media (min-width: 421px) {
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease 0s;
    z-index: 10;
    &.show {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
}

.burgerList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 12px 0;
  margin-bottom: 32px;
}
