@use "../../../../styles/variables" as var;
@use "../../../../styles/mixins" as mx;

.burgerMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var.$primary-fon-card;
  padding: 112px 40px 40px 40px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition:
    opacity 0.3s ease 0s,
    visibility 0.3s ease 0s;
  text-align: center;
  &.opened {
    opacity: 1;
    visibility: visible;
  }
  &::before {
    content: "";
    position: fixed;
    display: block;
    height: 80px;
    background-color: var.$primary-fon-card;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0 30px 30px var.$primary-fon-card;
  }
  @media (min-width: 993px) {
    display: none;
  }
}

.burgerList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 12px 0;
  margin-bottom: 32px;
}
