@import "/src/styles/variables";
@import "/src/styles/mixins";

@import "/src/styles/variables";
@import "/src/styles/mixins";

.copyrights {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto 32px auto;
  width: 268px;
  @include apply-font-styles($h3-font);
  font-size: 14px;

  @media (min-width: 481px) {
    width: auto;
    margin: 0 0 24px 0;
  }

  @media (min-width: 697px) {
    @include apply-font-styles($h3-font);
  }
}
