@use "../../../styles/mixins" as mixins;
@use "../../../styles/variables" as var;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  padding: 32px 16px;
  height: fit-content;
  background: var.$primary-gradient;


  
  @include mixins.media-q("md") {
    gap: 32px;
    padding: 48px 40px;
   }


  @include mixins.media-q("xl") { 
  gap: 48px;
  padding: 60px 64px;

}

@include mixins.media-q("xxxl") { 
  gap: 48px;
  padding: 72px 120px;
  height: fit-content;
}
}
.titleWrapper {
  @include mixins.apply-font-styles(var.$h6-font);
  
  @include mixins.media-q("md") {
    @include mixins.apply-font-styles(var.$h1-font);
  }
}