@use "sass:math";
@use "../../../styles/variables" as var;
@use "../../../styles/mixins" as mx;

.section {
  margin-top: 120px;
  padding-bottom: 48px;
}
.BlogContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 15px;
  @include mx.media-q("md") {
    gap: 24px;
  }

  @include mx.media-q("ml") {
    padding: 0 40px;
  }

  @include mx.media-q("xl") {
    gap: 60px;
  }

  @include mx.media-q("xxxl") {
    gap: 56px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px 0;

  @include mx.media-q("md") {
    gap: 24px;
    justify-content: space-between;
    padding: 24px 0;
  }
  @include mx.media-q("xl") {
    flex-direction: row;
    flex-flow: row-reverse;
    padding: 0;
  }
}

.pages {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icons {
  @include mx.media-q("xl") {
    flex-direction: column;
  }
}

.loadMore {
  &.hidden {
    display: none;
  }
}

.fullHeight {
  min-height: calc(100vh - 160px);
}
