@use "../../../styles/variables" as var;
@use "../../../styles/mixins" as mx;

.containerForCard {
  display: block;
  width: 397px;
  height: 514px;

  border-radius: 8px;
  border: 2px solid var.$primary-border;
  background-color: var.$primary-fon-card;
  overflow: hidden;
  padding: 0;
}
.image {
  width: 397px;
  height: 242px;
  //   background: rgba(112, 33, 86, 0.2), url("path_to_image");
}

.wrapper {
  padding: 32px 24px 24px 24px;
}

.content {
  width: 349px;
  height: 148px;
  margin-bottom: 24px;
}

.title {
  @include mx.apply-font-styles(var.$h2-font);
  font-weight: 600;

  margin-bottom: 16px;

  color: var.$secondary-white;
}

.text {
  @include mx.apply-font-styles(var.$text-16-font);
  // margin: 0;
  // margin-bottom: 24px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;

  color: var.$secondary-white;
}

.linkRead {
  @include mx.apply-font-styles(var.$text-16-font);

  display: block;
  padding: 14px 4px;
  margin-left: auto;
  margin-right: 0;

  width: 147px;

  color: var.$secondary-white;

  &:hover {
    border-bottom: 1px solid var.$primary-border;
  }
}
