@use "../../../styles/variables" as var;
@use "../../../styles/mixins" as mx;

.card {
  border-radius: 8px;
  border: 2px solid var.$primary-border;
  background-color: var.$primary-fon-card;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.imgContainer {
  position: relative;
  padding-bottom: 63%;
  img {
    object-fit: cover;
  }
}
.content {
  padding: 32px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1 1 100%;
  .title {
    @include mx.apply-font-styles(var.$h2-font);
    font-weight: 700;
    color: var.$secondary-white;
  }
  .desc {
    flex: 1 1 100%;
    @include mx.apply-font-styles(var.$text-16-font);
    color: var.$secondary-white;
  }
  & > a {
    align-self: flex-end;
  }
}
