@use "../../../styles/mixins" as mix;
@use "../../../styles/variables" as var;

.section{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 16px;

  .srroll_wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-height: 800px;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-track {
      background: var.$secondary-white;
      background: #5d447c;
      border-radius: 12px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 12px;
      background: #4d0959;
    }

    padding: 32px 24px;
  }
}