@use "../../../styles/mixins" as mix;
@use "../../../styles/variables" as var;

.section{
  width: 100%;
  display: flex;
  flex-direction: column;

  .srroll_wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-height: 800px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 32px 24px;
  }
}