@use "../../../styles/variables" as var;
@use "../../../styles/mixins.scss" as mx;

.card {
  position: relative;
  height: clamp(478px, 90vh, 860px);
}

.image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  filter: grayscale(90%) brightness(60%);
}

.wrapper {
  position: absolute;
  top: 0;
  z-index: 3;
  padding: 30px 5px 5px 5px;
  width:100%;
  color: var.$secondary-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;

  @include mx.media-q("lg") {
    padding: 55px 5px 5px 5px;
    gap: 60px;
  }

  h2 {
    @include mx.apply-font-styles(var.$h1-font);
    min-width: 300px;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    
    @include mx.media-q("lg") {
      line-height: 1.5;
      font-size: 54px;
    }
  }

  p {
    @include mx.apply-font-styles(var.$h2-font);

    font-weight: 500;
    font-size: 24px;
    line-height: 1.1;
    width: clamp(300px, 75%, 860px);

    @include mx.media-q("lg") {
      font-size: 28px;
      line-height: 1.5;
    }
  }
}
