@use "../../../styles/variables" as var;
@use "../../../styles/mixins.scss" as mx;

.card {
  position: relative;
  height: clamp(220px, 90vh, 860px);
}

.image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  filter: grayscale(90%) brightness(60%);
}

.wrapper {
  position: absolute;
  top: 0;
  z-index: 3;
  margin: 16px 8px;
  padding: 8px;
  color: var.$secondary-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;

  @include mx.media-q("md") {
    margin: 43px auto;
    padding: 16px 40px;
    gap: 24px;
  }

  @include mx.media-q("xl") {
    margin: 42.5px auto;
    padding: 24px;
    gap: 60px;
    top: 0%;
    right: 50%;
    transform: translateX(50%);
    max-width: clamp(818px, 818px, 860px);
  }

  h2 {
    @include mx.apply-font-styles(var.$h1-font);
    font-weight: 700;
    font-size: 24px;

    @include mx.media-q("md") {
      font-size: 48px;
    }

    @include mx.media-q("xl") {
      font-size: 54px;
    }
  }

  p {
    @include mx.apply-font-styles(var.$h2-font);
    font-size: 16px;

    @include mx.media-q("md") {
      font-size: 24px;
    }

    @include mx.media-q("xl") {
      font-size: 28px;
    }
  }
}
