@use "../../../../styles/mixins" as mix;
@use "../../../../styles/variables" as var;

.form{
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 100%;

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr,1fr,2fr;
    grid-column-gap: 24px;
    grid-row-gap: 28px;
    align-items: flex-end;
    padding: 32px 12px;
    box-shadow: 0 4px 4px 0 rgba(87, 86, 89, 0.25), 0 2px 12px 0 rgba(40, 37, 37, 0.25);
    background: var.$primary-fon-card;
    border-radius: 3px;
    width: 100%;
    .list_item{
      .item{
        width: 100%;
        min-width: 210px;
      }
      .item_text{
        width: 100%;
        min-width: 210px;
        height: 350px;
        @media (min-width: 1200px) {
          height: 250px;
        }
        @media (min-width: 1300px) {
          height: 200px;
        }
      }

    }
    .grid_item1 { grid-area: 1 / 1 / 2 / 2; }
    .grid_item2 { grid-area: 1 / 2 / 2 / 3; }
    .grid_item3 { grid-area: 2 / 1 / 3 / 2; }
    .grid_item4 { grid-area: 2 / 2 / 3 / 3; }
    .grid_item5 { grid-area: 2 / 3 / 3 / 4; }
    .grid_item6 { grid-area: 3 / 1 / 4 / 2; }
    .grid_item7 { grid-area: 3 / 2 / 4 / 3; }
    .grid_item8 { grid-area: 3 / 3 / 4 / 4; }
  }

  .btns{
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn{
      height: 55px;
      width: 230px;
      font-weight: 600;
      font-size: 18px;
    }
    .btn_cancel{
      padding: 15px 24px;
      border: 3px solid  var.$border-btn-admin;
      box-shadow: inset 3px 3px 4px 0 rgba(0, 0, 0, 0.25);
      color: var.$secondary-white;
    }
  }
}