@use "../../../styles/variables" as var;
@use "../../../styles/mixins" as mixin;

.section {
  background-image: var.$primary-gradient;
  color: var.$secondary-white;
  width: 100%;
  padding: 32px 16px;

  @include mixin.media-q("md") {
    padding: 48px 40px;
  }

  @include mixin.media-q("xl") { 
    padding: 60px 16px;
  }

  @include mixin.media-q("xxxl") { 
    padding: 72px 16px;
  }

  .wrapper {
    display: flex;
    max-width: 1320px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    @include mixin.media-q("md") {
      gap: 32px;
    }
    
    @include mixin.media-q("xl") { 
      gap: 48px;
    }
  
    @include mixin.media-q("xxxl") { 
      gap: 56px;
    }

    .titleRow {
      position: relative;
      width: 100%;

      .title {
        @include mixin.apply-font-styles(var.$h7-font);
        text-align: center;
  
        @include mixin.media-q("md") { 
          @include mixin.apply-font-styles(var.$h5-font);
          
        }
        @include mixin.media-q("xl") { 
          @include mixin.apply-font-styles(var.$h1-font);
        }
      }
      
      .prevBtn {
        transform: rotate(180deg);
      }
      
      .navigation {
        display: none;
        @include mixin.media-q("md"){
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 50%;
          right: 0;
          transform: translate(0%, -50%);
          gap: 16px;
        }
        @include mixin.media-q("xl") {
          gap: 32px;
        }
      }
    }

    .sliderBox {
      will-change: transform;
      width: 90vw;
      max-width: 500px;
      min-height: 130px;

      @include mixin.media-q("md") {
        min-height: 230px;
        max-width: 100%;
        width: 100%;
      }
    }

    .error{
      @include mixin.apply-font-styles(var.$h7-font);
      text-align: center;
    }
  }
}
