@use "../../styles/variables" as var;
@use "../../styles/_mixins.scss" as mx;

.counter {
  padding: 65px 0;
  background: var.$primary-gradient;
  @media (max-width: 768px) {
    padding: 88px 0;
  }
  @media (max-width: 510px) {
    padding: 32px 0;
  }
}

.container {
  max-width: 1680px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  @media (max-width: 510px) {
    flex-direction: column;
    gap: 32px;
  }
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    gap: 12px;
  }
}
.numbers {
  @include mx.apply-font-styles(var.$h1-font);
  font-size: 56px;
  @media (max-width: 992px) {
    font-size: 48px;
  }
}
.title {
  text-align: center;
  @include mx.apply-font-styles(var.$h4-font);
  @media (max-width: 992px) {
    font-size: 20px;
  }
}
