@use "../../../../styles/variables" as var;
@use "../../../../styles/_mixins.scss" as mx;

.info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}
.infoRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
  & > p {
    @include mx.apply-font-styles(var.$text-16-font);
    font-size: 12px;
    @media (min-width: 810px) {
      font-size: 16px;
    }
  }
}
.name {
  @include mx.apply-font-styles(var.$text-20-font);
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  & > svg {
    display: block;
    width: 20px;
    height: 20px;
  }
  @media (min-width: 810px) {
    font-size: 20px;
    & > svg {
      display: block;
      width: 24px;
      height: 24px;
    }
  }
}
.complexity {
  display: flex;
  align-items: center;
  gap: 4px;
}
.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var.$secondary-white;
  border: 1px solid #030110;
  &.circleActive {
    border: 1px solid var.$primary-border;
    background-color: var.$primary-border;
  }
  @media (min-width: 810px) {
    width: 16px;
    height: 16px;
  }
}

.deployUrl {
  font-size: 14px;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}
