@use "../../../styles/variables" as var;
@use '../../../styles/mixins' as mixin;

.preview{
  display: flex;
  align-items: center;
  justify-content: center;
  float: inline-start;

  .slideCardItem {
    position: relative;
    background-color:var.$primary-fon;
    border-radius: 5px;
    border: 1px solid var.$primary-hover;
    height: 75px;
    width: 150px;
    padding: 5px;

    & > button{
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 2;
      transition: opacity var.$transition-duration-base var.$transition-timing-base;
      &:hover{
        opacity: .8;
      }
    }

    .img_wrap {
      position: relative;
      margin: auto;
      width: 100%;
      height: 100%;
      .img{
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

.preview._full{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.473);
  z-index: 3;

  .slideCardItem{
    width: 90%;
    height: 90%;
    transition: all .6s;
    .img.cover{
      object-fit: cover;
    }
    & > button{
      right: auto;
      top: 5px;
      left: 5px;
      bottom: auto;
      background: rgba(0, 0, 0, 0.459);
      border-radius: 5px;
      & > svg{
        width: 60px;
        height: 60px;
      }
    }
  }
}

.preview._review._full{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.473);
  z-index: 3;

  .slideCardItem{
    width: 500px;
    height: 500px;
    transition: all .6s;
    border-radius: 12px;
    padding: 0;
    border: none;
    overflow: hidden;
    .img_wrap {
      position: relative;
      margin: auto;
      width: 100%;
      height: 100%;

      .img{
        object-fit: cover;
        object-position: 50% 20%;

      }
    }

    & > button{
      right: auto;
      top: 5px;
      left: 5px;
      bottom: auto;
      background: rgba(0, 0, 0, 0.486);
      & > svg{
        width: 60px;
        height: 60px;
      }
    }
  }
}

.preview._project._full{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.473);
  z-index: 3;

  .slideCardItem{
    min-width: 400px;
    min-height: 500px;
    width: 35%;
    height: 95%;
    transition: all .6s;
    border-radius: 12px;
    padding: 0;
    border: none;
    overflow: hidden;
    .img_wrap {
      position: relative;
      margin: auto;
      width: 100%;
      height: 100%;

      .img{
        object-fit: cover;
        object-position: 50% 20%;
        object-position: top;
      }
    }

    & > button{
      right: auto;
      top: 5px;
      left: 5px;
      bottom: auto;
      background: rgba(0, 0, 0, 0.486);
      & > svg{
        width: 60px;
        height: 60px;
      }
    }
  }
}