@use "../../../../../styles/variables" as var;
@use "../../../../../styles/_mixins.scss" as mx;

.info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.infoRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
}
.name {
  @include mx.apply-font-styles(var.$text-20-font);
  display: flex;
  align-items: center;
  gap: 8px;
  & > svg {
    display: block;
    width: 24px;
    height: 24px;
  }
  & > p {
    @include mx.apply-font-styles(var.$text-16-font);
  }
}
.complexity {
  display: flex;
  align-items: center;
  gap: 4px;
}
.circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var.$secondary-white;
  border: 1px solid #030110;
  &.circleActive {
    border: 1px solid var.$primary-border;
    background-color: var.$primary-border;
  }
}
