@use "../../../styles/variables" as var;
@use "../../../styles/mixins.scss" as mx;

.thanks{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

  @include mx.media-q("md") {
    gap: 40px;
  }

  @include mx.media-q("xl") {
    gap: 60px;
  }

  & > h2{
    @include mx.apply-font-styles(var.$h1-font);
    font-size: 24px;
    text-align: center;

    @include mx.media-q("md") {
      font-size: 32px;
    }

    @include mx.media-q("xl") {
      font-size: 40px;
    }
  }
}