@use "../../../../styles/variables" as var;

.sliderButton {
  width: 40px;
  height: 60px;
  background-color: transparent;
  outline: none;
  border: none;
  transition: opacity var.$transition-duration-base var.$transition-timing-base
    0s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:disabled {
    opacity: 0.1;
    pointer-events: none;
  }
  & > svg {
    display: block;
    width: 19px;
    height: 30px;
    fill: #fff;
    transition: fill var.$transition-duration-base var.$transition-timing-base;
  }
  @media (any-hover: hover) {
    &:hover {
      & > svg {
        fill: var.$primary-hover;
      }
    }
  }
}
