.sliderButton {
  width: 40px;
  height: 60px;
  background-color: transparent;
  outline: none;
  border: none;
  transition: opacity 0.3s ease 0s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:disabled {
    opacity: 0.1;
    cursor: default;
  }
  & > svg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 19px;
    height: 30px;
  }
}
