@use "../../../styles/variables" as var;
@use "../../../styles/mixins" as mx;

.articlesContainer {
  max-width: 1920px;
  margin: 0 auto;
  padding: 32px 16px;

  @include mx.media-q("md") {
    padding: 48px 40px;
  }

  @include mx.media-q("xl") {
    padding: 60px 64px;
  }

  @media only screen and (min-width: 1800px) {
    padding: 72px 120px;
  }
}

.wrapperAll {
  position: relative;
  margin: 0 auto 20px auto;

  max-width: 1320px;

  @include mx.media-q("md") {
    margin-bottom: 32px;
  }

  @include mx.media-q("xl") {
    margin-bottom: 48px;
  }

  @include mx.media-q("xxxl") {
    margin-bottom: 56px;
  }
}

.title {
  @include mx.apply-font-styles(var.$h2-font);
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;

  text-align: center;

  @include mx.media-q("md") {
    font-size: 32px;
    margin: 10px 0;
  }

  @include mx.media-q("xl") {
    font-size: 40px;
    font-weight: 600;
    margin: 0;
  }

  @include mx.media-q("xxxl") {
    margin: 10px 0;
  }
}

.navigationButtons {
  display: none;

  @include mx.media-q("md") {
    position: absolute;
    top: -5px;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
  }
  @include mx.media-q("xl") {
    gap: 32px;
    top: -1px;
  }
}

.prevElArticle {
  transform: rotate(180deg);
  height: 68px;

  @include mx.media-q("xl") {
    height: 60px;
  }
}

.nextElArticle {
  height: 68px;

  @include mx.media-q("xl") {
    height: 60px;
  }
}
.mySwiperWrapper {
  margin: 0 auto;
  max-width: 397px !important;
  @include mx.media-q("md") {
    max-width: 818px !important;
  }
  @include mx.media-q("xl") {
    max-width: 1239px !important;
  }
  @include mx.media-q("xxxl") {
    max-width: 1678px !important;
  }
}

.mySwiperItem {
  width: 280px;

  @include mx.media-q("md") {
    width: 334px;
  }
  @include mx.media-q("xl") {
    width: 397px;
  }
}

.pagination {
  margin-top: 20px;
  justify-content: center;

  @include mx.media-q("md") {
    display: none;
  }
}
