@use "../../styles/variables" as var;
@use "../../styles/mixins.scss" as mx;

.mainErr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  padding: 38px 16px;

  @include mx.media-q("md") {
    padding: 48px 65px 52px;
  }

  @include mx.media-q("xl") {
    padding: 110px 260px 65px 260px;
  }

  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    .numbers {
      @include mx.apply-font-styles(var.$h2-font);
      font-size: 96px;
      line-height: 1.1;
      color: var.$secondary-gray;
  
      @include mx.media-q("md") {
        font-size: 164px;
      }
  
      @include mx.media-q("xl") {
        font-size: 200px;
      }
    }
  
    p {
      @include mx.apply-font-styles(var.$h2-font);
      font-size: 14px;
      font-weight: 700;
      color: var.$secondary-white;
      text-align: center;
      margin-bottom: 8px;

      @include mx.media-q("md") {
        font-size: 24px;
        margin-bottom: 48px;
      }
    }
  }
}
