@use "/src/styles/variables" as var;
@use "/src/styles/mixins" as mx;

.section {
  background-image: var.$primary-gradient;
  color: var.$secondary-white;
  padding: 60px 0;
}

.container {
  text-align: center;
}

.title {
  @include mx.apply-font-styles(var.$h1-font);
  font-size: 24px;

  @media (min-width: 421px) {
    font-size: 32px;
  }

  @media (min-width: 1367px) {
    @include mx.apply-font-styles(var.$h1-font);
  }
}

.sliderContainer {
  padding-bottom: 48px;
}

.titleRow {
  position: relative;
  margin-bottom: 33px;

  @media (min-width: 1367px) {
    margin-bottom: 48px;
  }
}

.prevBtn {
  transform: rotate(180deg);
}

.navigation {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  gap: 32px;

  @media (min-width: 609px) {
    display: flex;
  }
}
