@import "../../styles/variables";
@import "../../styles/mixins";
.section {
  background-image: $primary-gradient;
  color: $secondary-white;
  padding: 60px 0;
}
.container {
  text-align: center;
}

.title {
  @include apply-font-styles($h1-font);
  @media (max-width: 1366px) {
    font-size: 32px;
  }
  @media (max-width: 608px) {
    font-size: 32px;
  }
  @media (max-width: 420px) {
    font-size: 24px;
  }
}

.sliderContainer {
  padding-bottom: 48px;
}

.titleRow {
  position: relative;
  margin-bottom: 48px;
  @media (max-width: 1366px) {
    margin-bottom: 33px;
  }
}

.prevBtn {
  transform: rotate(180deg);
}

.navigation {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  gap: 32px;
  @media (max-width: 608px) {
    display: none;
  }
}
.pagination {
  display: inline-flex;
}
