@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Montserrat:wght@400;500;600&display=swap");

$fontFamily: ("Open Sans", sans-serif);

//=Primary colors=======================================================================================================================================================
$primary-footer: #240529;
$primary-primary: #2e0535;
$primary-hover: #c0a4b7;
$primary-fon: #0f031f;
$primary-fon-card: #180530;
$primary-border: #ff62ce;
$primary-bg-card-blog: #f2eef8;
//====Gradient Button====================================================================================================================================================
$button-hover-gradient1: #6c2276;
$button-hover-gradient2: #682d78;
$button-hover-gradient3: #643579;
$button-hover-gradient4: #613b7a;
$button-hover-gradient5: #5d447c;

$button-hover-gradient: linear-gradient(
  130deg,
  $button-hover-gradient1 0%,
  $button-hover-gradient2 32%,
  $button-hover-gradient3 56%,
  $button-hover-gradient4 75%,
  $button-hover-gradient5 91%
);

$button-gradient1: #e37cc1;
$button-gradient2: #e231a8;
$button-gradient3: #9d2f79;
$button-gradient4: #851a62;

$button-gradient: linear-gradient(
  160deg,
  $button-gradient1 0%,
  $button-gradient2 36.5%,
  $button-gradient3 76%,
  $button-gradient4 100%
);
//=Gradient Icons=======================================================================================================================================================
$icon-gradient1: #e37cc1;
$icon-gradient2: #e231a8;
$icon-gradient3: #9d2f79;
$icon-gradient4: #851a62;

$icons-gradient: linear-gradient(
  135deg,
  $icon-gradient1 0%,
  $icon-gradient2 37%,
  $icon-gradient3 76%,
  $icon-gradient4 100%
);
//=Gradient Fon=======================================================================================================================================================
$fon-gradient1: #db97c5;
$fon-gradient2: #cc4fa3;
$fon-gradient3: #a03a7e;
$fon-gradient4: #6d2656;
$fon-gradient5: #490735;

$primary-gradient: linear-gradient(
  139deg,
  $fon-gradient1 0%,
  $fon-gradient2 16.91%,
  $fon-gradient3 39.6%,
  $fon-gradient4 78.5%,
  $fon-gradient5 100%
);
//=Secondary colors=======================================================================================================================================================
$secondary-black: #030110;
$secondary-white: #fcfcfc;
$secondary-text: #363636;
$secondary-gray: #9a9a9a;
$secondary-hover: #ededed;
$secondary-error: #f94949;
$secondary-positive: #1ba161;
//=Fonts=======================================================================================================================================================
$counter-font: (
  "font-family": (
    "Open Sans",
    sans-serif,
  ),
  "font-size": 48px,
  "letter-spacing": 0.01em,
  "font-weight": 600,
  "line-height": 150%,
);
$h1-font: (
  "font-family": (
    "Open Sans",
    sans-serif,
  ),
  "font-size": 40px,
  "letter-spacing": 0.01em,
  "font-weight": 600,
  "line-height": 150%,
);

$h2-font: (
  "font-family": (
    "Montserrat",
    sans-serif,
  ),
  "font-size": 24px,
  "letter-spacing": 0.01em,
  "font-weight": 500,
  "line-height": 150%,
);

$h3-font: (
  "font-family": (
    "Open Sans",
    sans-serif,
  ),
  "font-size": 18px,
  "letter-spacing": 0.01em,
  "font-weight": 600,
  "line-height": 150%,
);

$h4-font: (
  "font-family": (
    "Montserrat",
    sans-serif,
  ),
  "font-weight": 700,
  "font-size": 24px,
  "line-height": 1.5,
  "letter-spacing": 0.01em,
);

$h5-font: (
  "font-family": (
    "Open Sans",
    sans-serif,
  ),
  "font-size": 32px,
  "letter-spacing": 0.01em,
  "font-weight": 600,
  "line-height": 150%,
);

$h6-font: (
  "font-family": (
    "Montserrat",
    sans-serif,
  ),
  "font-weight": 600,
  "font-size": 20px,
  "line-height": 1.5,
  "letter-spacing": 0.01em,
);

$h7-font: (
  "font-family": (
    "Open Sans",
    sans-serif,
  ),
  "font-size": 26px,
  "letter-spacing": 0.01em,
  "font-weight": 700,
  "line-height": 150%,
);
$button: $h3-font;
$menu: $h3-font;

$text-20-font: (
  "font-family": (
    "Montserrat",
    sans-serif,
  ),
  "font-size": 20px,
  "letter-spacing": 0.01em,
  "font-weight": 400,
  "line-height": 150%,
);

$text-16-font: (
  "font-family": (
    "Montserrat",
    sans-serif,
  ),
  "font-size": 16px,
  "letter-spacing": 0.01em,
  "font-weight": 400,
  "line-height": 150%,
);

$text-14-font: (
  "font-family": (
    "Montserrat",
    sans-serif,
  ),
  "font-weight": 400,
  "font-size": 14px,
  "line-height": 1.5,
  "letter-spacing": 0.01em,
);

$text-18-font: (
  "font-family": (
    "Montserrat",
    sans-serif,
  ),
  "font-weight": 400,
  "font-size": 18px,
  "line-height": 1.5,
  "letter-spacing": 0.01em,
);
$breakpoints: (
  "tn": 320px,
  "sm": 420px,
  "md": 768px,
  "xl": 1366px,
  "xxxl": 1920px,
);

//===Other=====================================================================================================================================================
$transition-duration-base: 0.3s;
$transition-timing-base: ease;
$border: 1px solid #ff62ce;
