@use '../../styles/variables';

.h1 {
  @include variables.apply-font-styles(variables.$h1-font);
}
.container {
  li, p {
    @include variables.apply-font-styles(variables.$text-20-font);
    padding: 24px 0px 24px 0px;
  }
    height: fit-content;
    width: 607px;
}

.box {
  width: fit-content;
  height: 654px;
  background-color: rgba(252, 252, 252, 1);
  display: flex;
  flex-direction: row;
  padding: 60px 64px 60px 64px;
}

 @media (min-width: 320px) and (max-width: 420px) {
   .box {
     flex-direction: column;
   }
   .container { 
     height: fit-content;
     max-width: 400px;
     font-size: 15px;
   }
 }
 @media (min-width: 421px) and (max-width: 768px) {
   .box {
     flex-direction: column;
   }
   .container { 
     height: fit-content;
     width: fit-content;  
   }
 }
 @media (min-width: 769px) and (max-width: 1280px) {
   .container { 
     height: 100%;
     width: fit-content
   }
 }
 @media (min-width: 1281px) and (max-width: 1366px){
   .container { 
     height: fit-content;
     width: fit-content
   }
  }
 @media (min-width: 1367px) and (max-width: 1920px) {
   .box {
     width: fit-content;
   }
   .container { 
     height: fit-content;
     width: fit-content;
     font-size: 25px;
   }
 }
 @media (min-width: 1921px) {
   .container { 
     height: fit-content;
     width: fit-content;
   }
}