.btn{
  padding: 15px 24px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
}
// .list{
//   width: 100%;
//  // max-width: 1300px;
//  display: flex;
//  flex-wrap: wrap;
//   // display: grid;
//   // grid-template-columns: repeat(3, 1fr);
//   gap: 14px;
//   .card{
//     min-width: 320px;
//   }

//   .item{
//     min-width: 320px;
//     width: 33%;
//     max-width: 350px;
//     position: relative;

//     .btns{
//       width: 100%;
//       min-height: 100px;
//       padding: 8px;
//       //padding-top: 80px;
//       //background-color: aqua;
//       position: absolute;
//       bottom: 0;
//       left: 0;

//       display: flex;
//       gap: 10px;
//       //align-content: flex-end;
//       align-items: flex-end;
//       justify-content: flex-end;
//       .btn{
//         background-color: black;
//         border: 1px solid white;
//         border-radius: 4px;
//         padding: 0;
//         width: 40px;
//         height: 40px;
//         margin: 0;
//       }

//     }

//   }
// }