@use "../../../styles/variables" as var;
@use "../../../styles/mixins.scss" as mx;

.section {
  //компенсує висоту хедер
  margin-top: 80px;
  position: relative;
  min-height: 450px;

  .buttons {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    padding: 0 3.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 8;

    @media (max-width: 992px) {
      display: none;
    }

    @include mx.media-q("xxxl") {
      padding: 0 6.25%;
    }
  }
  .pagination {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 100;
    gap: 8px;
    @include mx.media-q("md") {
      padding: 20px;
      gap: 16px;
      //bottom: 40px;
      bottom: 20px;
    }

    @include mx.media-q("xl") {
      //bottom: 12%;
      bottom: 6%;
    }
  }
  .messageError{
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('/images/placeholder-image/slide_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
  }

}
.prevEl {
  transform: rotate(180deg);
}
