@import "../../../styles/mixins";
@import "../../../styles/variables";

.article {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #180530;
  position: relative;
  overflow: hidden;
  border: 1px solid #ff62ce;
}
.imageContainer {
  position: relative;
  padding-bottom: 75%;
  & > img {
    object-fit: cover;
  }
}
.content {
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.title {
  @include apply-font-styles($h2-font);
  margin-bottom: 16px;
}
.shortDesc {
  @include apply-font-styles($text-20-font);
  margin-bottom: 24px;
}
.readMore {
  position: relative;
  align-self: end;
  padding: 10px 0;
  transition: all 0.3s ease 0s;
  &::before {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $primary-hover;
    transition: all 0.3s ease 0s;
  }
  @media (any-hover: hover) {
    &:hover {
      color: $primary-hover;
      &::before {
        width: 100%;
      }
    }
  }
}

.fullDesc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow-y: auto;
  background: #180530;
  padding: 24px 16px 16px 16px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  border-radius: 8px;
  border: 1px solid #ff62ce;
  &.showFullDesc {
    opacity: 1;
    visibility: visible;
  }
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: #180530;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(139, 139, 139, 0.452);
  }
  & > p {
    @include apply-font-styles($text-20-font);
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.fullDescClose {
  width: 24px;
  height: 24px;
  margin-bottom: 16px;
  & > svg {
    transition: all 0.3s ease 0s;
  }
  @media (any-hover: hover) {
    &:hover {
      & > svg {
        stroke: $primary-hover;
      }
    }
  }
}
