@use "../../../styles/mixins" as mixin;
@use "../../../styles/variables" as var;

.article {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: var.$primary-fon-card;
  position: relative;
  overflow: hidden;
  border: 1px solid var.$primary-border;
}
.imageContainer {
  position: relative;
  padding-bottom: 46%;
  & > img {
    object-fit: cover;
  }
}
.content {
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.title {
  @include mixin.apply-font-styles(var.$h2-font);
  margin-bottom: 16px;
}
.shortDesc {
  @include mixin.apply-font-styles(var.$text-16-font);
  margin-bottom: 24px;
}
.readMore {
  font-size: 16px;
  align-self: flex-end;
  font-weight: 400;
  position: relative;
  padding: 10px 4px;
  &::before {
    content: "";
    width: 0;
    height: 1px;
    background-color: var.$primary-border;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width var.$transition-duration-base var.$transition-timing-base
      0s;
  }
  @media (any-hover: hover) {
    &:hover {
      color: var.$secondary-white;
      &::before {
        width: 100%;
      }
    }
  }
}

.fullDesc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  overflow-y: auto;
  background: var.$primary-fon-card;
  padding: 24px 16px 16px 16px;
  opacity: 0;
  visibility: hidden;
  transition: all var.$transition-duration-base var.$transition-timing-base 0s;
  border-radius: 8px;
  border: 1px solid var.$primary-border;
  &.showFullDesc {
    opacity: 1;
    visibility: visible;
  }
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: #180530;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(139, 139, 139, 0.452);
  }
  & > p {
    @include mixin.apply-font-styles(var.$text-20-font);
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.fullDescClose {
  width: 24px;
  height: 24px;
  margin-bottom: 16px;
  & > svg {
    width: 100%;
    height: 100%;
    transition: all var.$transition-duration-base var.$transition-timing-base 0s;
  }
  @media (any-hover: hover) {
    &:hover {
      & > svg {
        stroke: var.$primary-hover;
      }
    }
  }
}
