@use "sass:math";
@use "../../../styles/mixins" as mixins;
@use "../../../styles/variables" as var;

.faqItem {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      139deg,
      #db97c5 0%,
      #cc4fa3 16.91%,
      #a03a7e 39.6%,
      #6d2656 78.5%,
      #490735 100%
    );
  }
}
.titleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0 16px 10px;
  cursor: pointer;
  @media (any-hover: none) {
    cursor: default;
  }
  @media (min-width: 480px) {
    gap: 20px;
  }
  @media (any-hover: hover) {
    &:hover {
      button {
        & > span {
          background-color: var.$primary-hover;
        }
      }
      h3 {
        color: var.$primary-hover;
      }
    }
  }
}
.title {
  @include mixins.apply-font-styles(var.$h3-font);
  font-size: 16px;
  line-height: 140%;
  font-weight: 700;
  transition: color var.$transition-duration-base var.$transition-timing-base 0s;
  @media (min-width: 480px) {
    font-size: 20px;
  }
  @media (min-width: 768px) {
    font-size: 22px;
  }
}
.plus {
  width: 48px;
  height: 48px;
  padding: 10px;
  flex-shrink: 0;
  & > span {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #fff;
    transition: all var.$transition-duration-base var.$transition-timing-base 0s;
    &:first-child {
      transform: rotate(-90deg) translateX(-3px);
    }
  }
}
.plusActive {
  & > span {
    &:first-child {
      transform: rotate(0) translate(0, 3px);
    }
  }
}

.desc {
  @include mixins.apply-font-styles(var.$h3-font);
  font-weight: 400;
  padding: 10px;
  font-size: 16px;
  @media (min-width: 480px) {
    font-size: 18px;
  }
}
.descWrapper {
  max-height: 0;
  transition: max-height var.$transition-duration-base
    var.$transition-timing-base 0s;
}
.descWrapperActive {
}

.link {
  color: var.$primary-border;
  transition: all var.$transition-duration-base var.$transition-timing-base;
  border-bottom: 1px solid transparent;
  @media (any-hover: hover) {
    &:hover {
      color: var.$primary-hover;
      border-bottom: 1px solid var.$primary-border;
    }
  }
}
