@use "/src/styles/variables" as var;
@use "/src/styles/mixins" as mixin;

.mainContainer {
  width: 100%;

  gap: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 64px 60px 64px;
  background: linear-gradient(139deg,
   #db97c5 0%, 
   #cc4fa3 16.91%, 
   #a03a7e 39.6%, 
   #6d2656 78.5%, 
   #490735 100%);
   gap: 48px;
   @media (min-width: 320px) and (max-width: 768px) {
    padding: 16px 8px;
    gap: 16px;
    width: 100%;

    height: fit-content;
   }
   @media (min-width: 769px) and (max-width: 1366px) {
    gap: 32px;
    padding: 48px 24px;
    width: 100%;

   }
   @media (min-width: 1367px) and (max-width: 1920px) {
    padding: 72px 120px;
    gap: 56px;
    width: 100%;

  }
  //  @media (max-width: 1280px) {
  //   padding: 60px 64px;
  //   gap: 48px;
  //  }
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 100%;

  @media (min-width: 320px) and (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;

    gap: 24px;
  }
  @media (min-width: 769px) and (max-width: 1366px) {
    width: 768x;
  }
  @media (min-width: 1367px) and (max-width: 1920px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    gap: 24px;
  }
}

.text {
  padding: 10px 0px;
  width: 329px;
  height: 80px;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  display: flex;
  @include mixin.apply-font-styles(var.$h1-font);

  @media (min-width: 320px) and (max-width: 768px) {
    gap: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #fcfcfc;
    padding: 10px 0px;
    width: 198px;
  }

  @media (min-width: 1367px) and (max-width: 1920px) {
    gap: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding: 10px 0px;
    width: 264px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #fcfcfc;
  }
}


