@use "../../styles/variables" as var;
@use "../../styles/mixins" as mx;

.articlesContainer {
  max-width: 1920px;
  margin: 0 auto;
  padding: 32px 16px;

  @include mx.media-q("md") {
    padding: 48px 40px;
  }

  @include mx.media-q("xl") {
    padding: 60px 64px;
  }

  @include mx.media-q("xxxl") {
    padding: 72px 120px;
  }
}

.wrapperAll {
  position: relative;
  margin: 0 auto 20px auto;

  max-width: 1320px;

  @include mx.media-q("md") {
    margin-bottom: 32px;
  }

  @include mx.media-q("xl") {
    margin-bottom: 48px;
  }

  @include mx.media-q("xxxl") {
    margin-bottom: 56px;
  }
}

.title {
  @include mx.apply-font-styles(var.$h2-font);
  font-size: 26px;
  font-weight: 700;

  text-align: center;

  @include mx.media-q("md") {
    font-size: 32px;
    margin: 10px 0;
  }

  @include mx.media-q("xl") {
    font-size: 40px;
    font-weight: 600;
    margin: 0;
  }

  @include mx.media-q("xxxl") {
    margin: 10px 0;
  }
}

.navigationButtons {
  display: none;

  @include mx.media-q("md") {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    gap: 20px;
    align-items: center;
  }
  @include mx.media-q("xl") {
    right: 0;
  }

  @include mx.media-q("xxxl") {
    top: 0;
  }
}

.prevElArticle {
  transform: rotate(180deg);
}

.mySwiperItem {
  max-width: 334px;

  @include mx.media-q("xl") {
    max-width: 397px;
  }
}

.pagination {
  margin-top: 20px;
  justify-content: center;
  
  @include mx.media-q("md") {
    display: none;
  }
}
