@use "../../styles/variables" as var;
@use "../../styles/mixins" as mx;

.articlesContainer {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 24px;
  margin-bottom: 60px;
  margin-top: 60px;

  @include mx.media-q("lg") {
    padding: 0 64px;
  }

  @include mx.media-q("xxl") {
    padding: 0 80px;
  }

  @include mx.media-q("xxxl") {
    padding: 0 120px;
    margin-top: 72px;
    margin-bottom: 72px;
  }
}

.wrapperAll {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 104px;
  max-width: 1320px;
  margin-bottom: 48px;

  @include mx.media-q("lg") {
    gap: 319px;
  }
  @include mx.media-q("xl") {
    gap: 363px;
  }
  @include mx.media-q("xxxl") {
    margin-bottom: 56px;
  }
}

.title {
  @include mx.apply-font-styles(var.$h1-font);

  margin: 10px 0;
}

.navigationButtons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.prevElArticle {
  transform: rotate(180deg);
}

.mySwiper > div {
  gap: 24px;
  @include mx.media-q("xxxl") {
    gap: 30px;
  }
  // .swiper-slide {
  //   flex-shrink: 1;
  //   max-width: 397px;
  // }
}

.mySwiperItem {
  flex-shrink: 1;
  max-width: 397px;
}
