@use "../../styles/variables" as var;
@use "../../styles/mixins" as mx;

.articlesContainer {
  max-width: 1920px;
  margin: 16px auto;
  padding: 0 10px;

  @include mx.media-q("sm") {
    margin-top: 24px;
    margin-bottom: 41px;
    padding: 0 20px;
  }

  @include mx.media-q("md") {
    margin-bottom: 48.5px;
    margin-top: 48px;
    padding: 0 24px;
  }

  @include mx.media-q("lg") {
    margin: 60px auto;
    padding: 0 64px;
  }

  @include mx.media-q("xxl") {
    padding: 0 80px;
  }

  @include mx.media-q("xxxl") {
    padding: 0 120px;
    margin: 72px auto;
  }
}

.wrapperAll {
  position: relative;
  margin: 0 auto;

  max-width: 1320px;
  margin-bottom: 16px;

  @include mx.media-q("md") {
    margin-bottom: 48px;
  }

  @include mx.media-q("xxxl") {
    margin-bottom: 56px;
  }
}

.title {
  @include mx.apply-font-styles(var.$h1-font);
  font-size: 24px;

  text-align: center;
  margin: 10px 0;

  @include mx.media-q("md") {
    font-size: 32px;
  }

  @include mx.media-q("lg") {
    font-size: 40px;
  }
}

.navigationButtons {
  display: none;

  @include mx.media-q("md") {
    position: absolute;
    top: -3px;
    right: 16px;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  @include mx.media-q("lg") {
    right: 0;
  }

  @include mx.media-q("xxl") {
    top: 0;
  }
}

.prevElArticle {
  transform: rotate(180deg);
}

.mySwiperItem {
  flex-shrink: 1;
  max-width: 350px;
  margin-bottom: 16px;

  @include mx.media-q("lg") {
    max-width: 397px;
  }
}

.paginationArticle {
  justify-content: center;

  // @include mx.media-q("md") {
  //   display: none;
  // }
}
