@use "../../styles/variables" as var;
@use "../../styles/mixins" as mx;

.articleSection {
  padding: 72px 0;
  @media (max-width: 768px) {
    padding: 48px 0;
  }
  @media (max-width: 420px) {
    padding: 32px 0;
  }
}

.container {
  max-width: 1680px;
}
.titleRow {
  position: relative;
  margin-bottom: 48px;
  @media (max-width: 1366px) {
    margin-bottom: 33px;
  }
}

.navigationButtons {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  gap: 32px;
  @media (max-width: 608px) {
    display: none;
  }
}

.title {
  @include mx.apply-font-styles(var.$h1-font);
  text-align: center;
  @media (max-width: 768px) {
    font-size: 32px;
  }
  @media (max-width: 420px) {
    font-size: 26px;
  }
}

.prevElArticle {
  transform: rotate(180deg);
}

.mySwiperItem {
  height: auto !important;
}
.slider {
  margin-bottom: 20px;
}

.pagination {
  @media (min-width: 609px) {
    display: none;
  }
}
