@use "sass:math";
@use "../../styles/variables" as var;
@use "../../styles/mixins" as mx;

.section {
  margin-top: 120px;
  padding-bottom: 48px;
}

.projectsContainer {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  @include mx.apply-font-styles(var.$h1-font);
  margin-bottom: 20px;
  font-size: 20px;
  @media (min-width: 480px) {
    margin-bottom: 32px;
    font-size: 32px;
  }
  @media (min-width: 768px) {
    font-size: 40px;
  }
}

.pagesWrapper {
  display: grid;
  gap: 20px;
  margin-bottom: 32px;
  @media (min-width: 768px) {
    margin-bottom: 48px;
  }
}

.content {
  display: grid;
  gap: 20px;
  margin-bottom: 20px;
  grid-template-columns: 1fr;
  @media (min-width: 550px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.search {
  margin-bottom: 20px;
  @media (min-width: 768px) {
    margin-bottom: 48px;
  }
  @media (min-width: 1440px) {
    margin-bottom: 72px;
  }
}

.loadMore {
  align-self: center;
  &.hidden {
    display: none;
  }
}

.fullHeight {
  height: calc(100vh - 100px);
}
