@use "../../../styles/variables" as var;
@use "../../../styles/mixins.scss" as mx;

.item {
  width: clamp(280px, 84vw, 625px);
  //width: 100%;
  display: flex;
  flex-direction: column;
  & > label {
    @include mx.apply-font-styles(var.$text-20-font);
    & > span {
      color: var.$secondary-error;
    }
  }
  & > input {
    @include mx.apply-font-styles(var.$text-16-font);
    color: var.$secondary-black;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 10px;
    outline: 0;
    background: var.$secondary-white;
    transition: all var.$transition-duration-base var.$transition-timing-base;
  }
  & > textarea {
    @include mx.apply-font-styles(var.$text-16-font);
    color: var.$secondary-black;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 10px;
    outline: 0;
    background: var.$secondary-white;
    min-height: 132px;
    resize: none;
    transition: all var.$transition-duration-base var.$transition-timing-base;
  }
}
.input._error {
  border: 2px solid var.$secondary-error;
}
.input._success {
  border: 2px solid var.$secondary-positive;
}

// .checkboxGroup {
//   --registration-checkbox-number: 1;
//   height: calc(40px * var(--registration-checkbox-number) / 2);
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   padding-top: 10px;
//   gap: 8px;
//   color: #fcfcfc;
//   max-height: 90px;
//   //background-color: aqua;
// }

// @include mx.media_q(md, max) {
//   .checkboxGroup {
//     height: calc(40px * var(--registration-checkbox-number));
//   }
// }

// .boxInput {
//   min-width: 24px;
//   min-height: 24px;
//   margin-right: 10px;
//   appearance: none;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   position: relative;

//   &:checked {
//     &::after {
//       content: "";
//       position: absolute;
//       top: 45%;
//       left: 50%;
//       display: block;
//       width: 10px;
//       height: 15px;
//       transform: translateX(-50%) translateY(-50%) rotate(45deg);
//       border: solid white;
//       border-width: 0 4px 4px 0;
//       background: transparent;
//     }
//   }
// }
// .boxLabel1 {
//   @include mx.apply-font-styles(var.$button);
//   cursor: pointer;
//   position: flex;
//   justify-content: center;
// }

// .boxLabel2 {
//   @include mx.apply-font-styles(var.$text-16-font);
//   cursor: pointer;
//   position: flex;
//   justify-content: center;
// }

.checkbox {
  display: flex;
  align-items: center;
  max-height: 3vh;
}
