@use "../../../styles/mixins" as mix;
@use "../../../styles/variables" as var;
  
.tooltiptext{
  width: 100%;
  visibility: hidden;
  background-color: var.$secondary-hover;
  color: var.$secondary-black;
  padding: 16px;
  border-radius: 8px;
  position: absolute;
  z-index: 5;
  top: 110%;
  left: 0;
  opacity: 0;
  transition: all var.$transition-duration-base var.$transition-timing-base;

  @include mix.apply-font-styles(var.$h3-font);
  font-size: 16px;

  & > p{
    margin-top: 12px;
    line-height: normal;
    font-weight: 400;
    font-size: 12px;
  }

  @media (min-width: 520px) {
    width: 350px;
  }

  .wrapp_img{
    position: relative;
    width: 250px;
    height: 160px;

    @media (min-width: 520px) {
      width: 310px;
    }
    
    & img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.tooltiptext._right {
  bottom: 100%;
  top: auto;
  left: 50%;
  margin-left: -50%; 

  @media (min-width: 1120px) {
    bottom: auto;
    top: -50%;
    left: 105%;
    margin-left: 0; 
  }
}
.tooltiptext._right::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var.$secondary-hover transparent transparent transparent;

  @media (min-width: 1120px) {
    content: " ";
    position: absolute;
    top: 50%;
    left: auto;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var.$secondary-hover transparent transparent;
    margin-left: -50%; 
  }

}

.tooltiptext._bottom::after {
  content: " ";
  position: absolute;
  bottom: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var.$secondary-hover  transparent;
}

