.footerLinks {
  display: flex;
  align-items: center;
  margin: 0 24px;
}

.list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 180px;
  *:not(:last-child) {
    margin-bottom: 16px;
  }
}
.helpList {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  > *:not(:last-child) {
    margin-bottom: 16px;
  }
}
