@use "../../../styles/mixins" as mixins;
@use "../../../styles/variables" as var;

.cardContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  
  .card {
    position: relative;
    top: -10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 1px solid #ff62ce;
    border-radius: 24px;
    padding: 48px;
    width: 1212px;
    height: 400px;
    gap: 32px;
    position:relative;
    overflow: hidden;
    background-color: #180530;
    
    .svgWrapper {
      width: fit-content;
      height: fit-content;

    }
}
}
.textCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  width: fit-content;
  height: fit-content;
}


.titleWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  padding: 10px;
  height: 56px;
  width: 907px;
  @include mixins.apply-font-styles(var.$h4-font);
  border-bottom: 1px solid #ff62ce;
}

.icon {
  width: 145px;
  height: 324px;
  fill: #fcfcfc;
}
.textWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: fit-content;
  height: 138px;
  @include mixins.apply-font-styles(var.$text-20-font);
}

.text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  width: 915px;
  height: 30px;
  
}



.checkboxWrapper {
  width: fit-content;
  height: fit-content;
  border-radius: 2px;
}