@use "../../../styles/mixins" as mixins;
@use "../../../styles/variables" as var;

.cardContainer {
  width: 100%;
  height: fit-content;
  @include mixins.media-q("md") {
    
  }

  @media (min-width: 990px) {
    position: sticky;
    top: 150px;
    height: auto;

  }
  @include mixins.media-q("xl") { 
    max-width: 1700px;

  }
  @include mixins.media-q("xxxl") { 
    width: 100%;
    max-width: 1700px;


  }
}

.card{
    background: var.$primary-fon-card;
    border: var.$border;
    border-radius: 24px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
    padding: 28px 8px;

@include mixins.media-q("md") {
    grid-template-columns: 1fr 3fr;
    overflow: hidden;
 
  }
  
  @media (min-width: 990px) {
  position: relative;
  top: 10%;
  }

  @include mixins.media-q("xl") { 

  }

@include mixins.media-q("xxxl") { 
  padding: 48px;


}

}

.textCard {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding: 8px 0px;

  @include mixins.media-q("md")  { 
    text-align: center;
    gap: 32px;
  }
  @include mixins.media-q("xl")  { 
    padding: 0px 50px;
  }
}

.titleWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
  padding: 10px;
  width: 100%;
  height: fit-content;
  border-bottom: var.$border;
  text-align: center;
  @include mixins.apply-font-styles(var.$h3-font);

  @include mixins.media-q("md") { 
  @include mixins.apply-font-styles(var.$h2-font);

}
  @include mixins.media-q("xl") { 


}
}

.iconTitle {
    width: 24px; 
    height: 24px;
  @include mixins.media-q("md") {
    width: 32px; 
    height: 33px;
  }
}

.iconNumber {
    width: 90px;
    height: 246px;
  @include mixins.media-q("md") {
    width: 135px;
    height: 324px;
  }
  @include mixins.media-q("xl") { 
    width: 145px;
    height: 324px;
}
}

.text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  width: fit-content;
  height: fit-content;
  text-align: center;
  @include mixins.apply-font-styles(var.$text-14-font);

  @include mixins.media-q("md")  {
    text-align: start;
    @include mixins.apply-font-styles(var.$text-18-font);
   }
}


.svgWrapper {
  position: absolute;
  @include mixins.media-q("md") { 
    position: relative;
    display:flex;
    justify-content: center;
  }
  @include mixins.media-q("xl") { 


  }
}