@use "../../../styles/variables" as var;
@use "../../../styles/mixins" as mx;

.wrapper {
  position: relative;
  min-width: 288px;
  max-width: 625px;
  input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
  }

  button {
    position: absolute;
    top: 14px;
    right: 3px;
    color: #000;
  }
}
