@use "../../../../styles/variables" as var;
@use "../../../../styles/_mixins.scss" as mx;

.status {
  display: inline-flex;
  align-self: flex-start;
  padding: 8px;
  gap: 10px;
  align-items: center;
  border: 1px solid var.$secondary-white;
  @include mx.apply-font-styles(var.$text-16-font);
  &::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  &.done {
    &::before {
      background-color: #1cd41f;
    }
  }
  &.development {
    &::before {
      background-color: #ffd210;
    }
  }
  &.teamFormation {
    &::before {
      background-color: #f4ff94;
    }
  }
}
