.wrapper {
  display: flex;
}

.timeline {
  position: relative;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.timeline__initial {
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  width: 4px;
  background-color: gray;
  height: auto;
}

.timeline__draw {
  position: absolute;
  top: 0;
  left: 50%;
  width: 6px;
  background: linear-gradient(
    127.17deg,
    #db97c5 -15.12%,
    #cc4fa3 5.17%,
    #a03a7e 32.37%,
    #6d2656 79.03%,
    #490735 104.82%
  );
}
.title {
  font-size: 24px;
  font-weight: 700;
}
.text {
  font-size: 20px;
}
.timeline__list {
  display: flex;
  flex-direction: column;
  padding-top: 53px;

  .timeline__list__element {
    height: auto;
    width: 100%;
    position: relative;
    opacity: 0.3;
    line-height: 36px;
    transition: all 0.2s ease-in;

    &:nth-child(odd) {
      right: 270px;
      max-width: 440px;
    }

    &:nth-child(even) {
      left: 270px;
      max-width: 440px;
      min-height: 180px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .timeline__list__element:nth-child(odd)::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -64px;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: gray;
    transition: background-color 0.2s ease-in;
  }

  .timeline__list__element:nth-child(even)::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -58px;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: gray;
    transition: background-color 0.2s ease-in;
  }
  .timeline__list__element.active:nth-child(odd)::before {
    background-color: #ff62ce;
    box-shadow: 0 0 20px rgba(255, 98, 206, 0.9);
  }

  .timeline__list__element.active:nth-child(even)::before {
    background-color: #ff62ce;
    box-shadow: 0 0 20px rgba(255, 98, 206, 0.9);
  }

  .timeline__list__element.active {
    opacity: 1;
  }
}
.marker {
  position: relative;
}

.marker::after {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 1px;
  background: linear-gradient(to right, #e37cc1 0%, #e231a8 100%);
}
