@import "../../../styles/variables";
@import "../../../styles/mixins";

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  & :hover input,
  & :hover textarea{
    background: $secondary-hover;
  }
  & :focus input,
  & :focus textarea{
    background: $secondary-white;
  }
}

.list{
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}
.item{
  width: 625px;
  display: flex;
  flex-direction: column;
  & > label{
    @include apply-font-styles($text-20-font);
    & > span{
      color: $secondary-error;
    }
  }
  & > input{
    @include apply-font-styles($text-16-font);
    color: secondary-black;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 10px;
    outline: 0;
    background: $secondary-white;
    transition: all $transition-duration-base $transition-timing-base;
  }
  & > textarea{
    @include apply-font-styles($text-16-font);
    color: secondary-black;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 10px;
    outline: 0;
    background: $secondary-white;
    height: 132px;
    resize: none; 
    transition: all $transition-duration-base $transition-timing-base;
  }
  ._error{
    border: 2px solid $secondary-error;
  }
  ._success{
    border: 2px solid $secondary-positive;
  }
}