@use "../../../styles/variables" as var;
@use "../../../styles/mixins.scss" as mx;

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  & :hover input,
  & :hover textarea {
    background: var.$secondary-hover;
  }
  & :focus input,
  & :focus textarea {
    background: var.$secondary-white;
  }
  .send {
    position: absolute;
    bottom: 50px;
    animation: 1.5s linear send-slide;
    opacity: 0;
    z-index: 5;
  }
  .send > svg {
    display: block;
    width: 50px;
    height: 50px;
    stroke: var.$secondary-positive;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 16px;
  .error{
    @include mx.apply-font-styles(var.$text-20-font);
    color: var.$secondary-error;
  }
  @include mx.media-q("md") {
    margin-bottom: 32px;
  }
  @include mx.media-q("xl") {
    margin-bottom: 40px;
  }
}

@keyframes send-slide {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    transform: translateY(-110vh) scale(2);
  }
}
