@use "sass:math";
@use "../../../../styles/variables" as var;
@use "../../../../styles/mixins" as mx;

.wrapper {
  padding-top: 50px;
}

.timeline {
  position: relative;
}

.timeline__initial {
  position: absolute;
  top: 4px;
  left: 8px;
  transform: translateX(-50%);
  width: 2px;
  background-color: var.$secondary-gray;
  @media (min-width: 480px) {
    top: 6px;
    left: 12px;
  }
  @media (min-width: 571px) {
    left: 50%;
  }
}

.timeline__draw {
  width: 100%;
  background: linear-gradient(
    139deg,
    #db97c5 0%,
    #cc4fa3 16.91%,
    #a03a7e 39.6%,
    #6d2656 78.5%,
    #490735 100%
  );
  height: 100%;
  transform-origin: top;
}

.timeline__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
  column-gap: 88px;
  row-gap: 92px;
  @media (max-width: 768px) {
    column-gap: 72px;
  }
  @media (max-width: 570px) {
    grid-template-columns: 1fr;
    column-gap: 60px;
  }

  .timeline__list__element {
    position: relative;
    width: 100%;
    @media (max-width: 570px) {
      padding-left: 40px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 4px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: var.$secondary-gray;
      transition:
        background-color var.$transition-duration-base
          var.$transition-timing-base 0s,
        box-shadow var.$transition-duration-base var.$transition-timing-base 0s;
      @media (min-width: 480px) {
        top: 6px;
        width: 24px;
        height: 24px;
      }
    }
    @media (min-width: 571px) {
      &:nth-child(odd) {
        grid-column: 1;
        &::before {
          right: -32px;
          transform: translateX(100%);
          @media (max-width: 768px) {
            right: -24px;
          }
        }
      }

      &:nth-child(even) {
        grid-column: 2;
        &::before {
          left: -32px;
          transform: translateX(-100%);
          @media (max-width: 768px) {
            left: -24px;
          }
        }
      }
    }
    @media (max-width: 570px) {
      &::before {
        left: 0;
      }
    }

    .title {
      @include mx.apply-font-styles(var.$h2-font);
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 5px;
      opacity: 0.3;
      padding-left: 24px;
      position: relative;
      transition: opacity var.$transition-duration-base
        var.$transition-timing-base 0s;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 2px;
        background: linear-gradient(to right, #e37cc1 0%, #e231a8 100%);
      }
      @media (min-width: 480px) {
        font-size: 24px;
      }
    }
    .text {
      @include mx.apply-font-styles(var.$text-20-font);
      font-size: 14px;
      padding-left: 24px;
      opacity: 0.3;
      color: var.$secondary-white;
      transition: opacity var.$transition-duration-base
        var.$transition-timing-base 0s;
      @media (min-width: 480px) {
        font-size: 18px;
      }
      @media (min-width: 768px) {
        font-size: 20px;
      }
    }
  }

  .timeline__list__element.active {
    .title {
      opacity: 1;
    }
    .text {
      opacity: 1;
    }
    &::before {
      background-color: #ff62ce;
      box-shadow: 0 0 20px rgba(255, 98, 206, 0.9);
    }
  }

  .timeline__list__element.active {
    opacity: 1;
  }
}
