@import "../../../styles/variables";
@import "../../../styles/mixins";

.cardStyle {
  width: 1236px;
  height: fit-content;
  padding: 0px 32px 8px 48px;
  border: 0px 0px 1px 0px;
  border-bottom: 1px solid rgba(46, 5, 53, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header {
  @include apply-font-styles($h2-font);
  color: $secondary-white;
}
.text {
  color: $secondary-white;
  @include apply-font-styles($text-20-font);
}
.textCard {
  width: 712px;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
}

.ellipseWrapper {
  width: 300px;
  height: 157px;
  position: absolute;
  background-color: rgba(226, 185, 213, 1);
  border-radius: 100%;
  fill: #e2b9d5;
  filter: blur(30px);
}

.svgWrapper {
  position: relative;
 }

.cardWrapper {
  width: 300px;
  height: 157px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


