.wrapper{
  margin-top: 90px;
 // min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  .content{
    min-height: 100vh;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}

