@import "../../../styles/variables";
@import "../../../styles/mixins";

.cardStyle {
  width: 1236px;
  height: fit-content;
  padding: 0px 32px 8px 48px;
  border: 0px 0px 1px 0px;
  border-bottom: 1px solid rgba(46, 5, 53, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    127.17deg,
    #db97c5 -15.12%,
    #cc4fa3 5.17%,
    #a03a7e 32.37%,
    #6d2656 79.03%,
    #490735 104.82%
  );
}

.header {
  @include apply-font-styles($h2-font);
  color: $secondary-white;
}
.text {
  color: $secondary-white;
  @include apply-font-styles($text-20-font);
}
.textCard {
  width: 712px;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
}

.substrateWrapper {
  width: 261px;
  height: 190px;
}
.svgWrapper {
  width: 261px;
  height: 190px;
  overflow: hidden;
  position: relative;
}
.logoWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}
