@use "../../../styles/variables";
@use "../../../styles/mixins";

.cardStyle {
  width: 1236px;
  height: fit-content;
  padding: 0px 32px 0px 32px;
  border: 0px 0px 1px 0px;
  border-bottom: 1px solid rgba(3, 1, 16, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(242, 200, 228, 1);
}

.textCard {
  h2 {
    @include mixins.apply-font-styles(variables.$h2-font);
  }
  p {
    @include mixins.apply-font-styles(variables.$text-20-font);
  }
  width: 712px;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
