@use "../../../../styles/mixins" as mix;
@use "../../../../styles/variables" as var;

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include mix.media-q("md") {
    gap: 40px;
  }

  h2 {
    @include mix.apply-font-styles(var.$h2-font);
    font-weight: 600;
    font-size: 20px;
    text-align: center;

    @include mix.media-q("md") {
      @include mix.apply-font-styles(var.$h1-font);
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include mix.media-q("md") {
      gap: 24px;
    }

    // .error{
    //   @include mix.apply-font-styles(var.$text-16-font);
    //   font-size: 14px;
    //   color: var.$secondary-error;

    //   @include mix.media-q("md") {
    //     font-size: 20px;
    //   }
    // }

    .item {
      width: clamp(280px, 84vw, 625px);
      display: flex;
      flex-direction: column;
      position: relative;

      & > label{
        font-size: 14px;

        @include mix.media-q("md") {
          font-size: 20px;
        }
      }
      & > h4{
        @include mix.apply-font-styles(var.$text-16-font);
        font-size: 14px;
        margin-bottom: 8px;
        & > span {
          color: var.$secondary-error;
        }

        @include mix.media-q("md") {
          font-size: 20px;
        }
      }

      .select{
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
        margin-bottom: 12px;

        @include mix.media-q("md") {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;
          margin-bottom: 24px;
          .time1{
            order: 1;
          }
          .time2{
          order: 3;
          }
          .time3{
            order: 2;
          }
          .time4{
            order: 4;
          }
        }
      }

      .btn_option{
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 12px;
        @include mix.apply-font-styles(var.$h3-font);
        font-weight: 600;
        font-size: 18px;

        &.agree{
          @include mix.apply-font-styles(var.$text-16-font);
          font-size: 16px;
        }

        & input{
          display: none;
        }

        .check{
          width: 24px;
          height: 24px;
          border-radius: 2px;
          border: 1px solid var.$secondary-gray;
         
          & svg{
            opacity: 0;
            display: block;
            border-radius: 2px;
            width: 24px;
            height: 24px;
          }

          &._active{
            border: none;

            & svg{
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .error{
    @include mix.apply-font-styles(var.$text-16-font);
    font-size: 14px;
    color: var.$secondary-error;

    @include mix.media-q("md") {
      font-size: 20px;
    }
  }
}