@use "../../../../styles/mixins" as mix;
@use "../../../../styles/variables" as var;

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  //gap: 40px;
  gap: 20px;

  h2 {
    @include mix.apply-font-styles(var.$h2-font);
    font-weight: 600;
    font-size: 20px;
    text-align: center;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    //padding-bottom: 20px;
  
    .error{
      @include mix.apply-font-styles(var.$text-16-font);
      //font-weight: 400;
      font-size: 14px;
      color: var.$secondary-error;
    }
    // ._list{
    //   margin-top: 12px;
    // }
    // .error._hide{
    //   display: none;
    //   @include mix.media-q("md") {
    //     display: block;
    //   }
    // }
  
    .item {
      width: clamp(280px, 84vw, 625px);
      display: flex;
      flex-direction: column;
      position: relative;
      //margin-bottom: 12px;
      & >label{
        font-size: 14px;
      }
      & > h4{
        @include mix.apply-font-styles(var.$text-16-font);
        font-size: 14px;
        margin-bottom: 8px;
        & > span {
          color: var.$secondary-error;
        }
      }
      .select{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 12px;
        //justify-content: start;

        @include mix.media-q("md") {
          display: grid;
          grid-template-columns: 1fr 1fr;
          row-gap: 10px;

          .time1{
            order: 1;
          }
          .time2{
          order: 3;
          }
          .time3{
            order: 2;
          }
          .time4{
            order: 4;
          }
        }
      }
      .btn_option{
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 12px;
        @include mix.apply-font-styles(var.$h3-font);
        font-weight: 600;
        font-size: 18px;
        //background-color: aqua;
        &.agree{
          @include mix.apply-font-styles(var.$text-16-font);
          font-weight: 400;
          font-size: 16px;
        }

        & input{
          display: none;
        }

        .check{
          width: 24px;
          height: 24px;
          border-radius: 2px;
          border: 1px solid var.$secondary-gray;
         
          //background-color: aqua;
          & svg{
            opacity: 0;
            display: block;
            border-radius: 2px;
            width: 24px;
            height: 24px;
          }

          &._active{
            border: none;

            & svg{
              opacity: 1;
            }
          }
        }
      }
 
    }
  
  
  
    .input._error {
      border: 2px solid var.$secondary-error;
    }
    .input._success {
      border: 2px solid var.$secondary-positive;
    }
  }



  .submit {
    position: relative;
  }
}
