@use "../../styles/variables" as var;

.section {
  background-color: var.$primary-footer;
}

.block {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 15px;
  @media (max-width: 1024px) {
    max-width: 1024px;
  }
}

.footer {
  margin: 68px auto 56px auto;
  padding: 8px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 1024px) {
    margin: 24px auto;
    padding: 12px;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  align-items: flex-start;

  @media (min-width: 1025px) {
    width: auto;
  }

  @media (max-width: 1024px) {
    margin-top: 48px;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .hideOnSmallScreen {
    display: none;
  }
  .showOnSmallScreen {
    display: flex;
    flex-direction: column;
    margin: 24px 20px 16px 20px;
    gap: 16px;
  }
}

@media (min-width: 479px) {
  .hideOnSmallScreen {
    display: block;
  }
  .showOnSmallScreen {
    display: none;
  }
}

.centerItem {
  display: flex;
  justify-content: center;
}
