@use "../../../styles/variables" as var;
@use "../../../styles/mixins.scss" as mx;

.form{
  color: var.$secondary-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 5px;
  gap: 16px;

  @include mx.media-q("md") {
    padding: 24px 16px;
    gap: 32px;
  }

  & > p{
    @include mx.apply-font-styles(var.$h3-font);
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 20px;

    @media (min-width: 420px) {
      font-size: 24px;
    }

    @include mx.media-q("md") {
      font-weight: 700;
      gap: 13px;
    }

    .icon{
      display: block;
      width: 24px;
      height: 24px;
    }
  }

  .amount{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 40px;
    gap: 10px;
    position: relative;

    @media (min-width: 420px) {
      gap: 16px;
      padding-right: 40px;
    }

    @include mx.media-q("md") {
      padding: 0;
      transform: translateX(-40px);
    }

    .input{
      background: none;
      color: var.$secondary-white;
      outline: 0;
      max-width: 72vw;
      overflow: hidden;
      text-align: end;
      @include mx.apply-font-styles(var.$h2-font);
      font-size: 90px;
      line-height: normal;

      @media (min-width: 420px) {
        font-size: 96px;
      }

      @include mx.media-q("md") {
        font-size: 100px;
      }
    }

    & svg{
      display: block;
      width: 32px;
      height: 38px;
    }

    .error{
      @include mx.apply-font-styles(var.$h2-font);
      font-size: 100px;
      line-height: normal;
      color: var.$secondary-error;
      text-align: end;
      padding-right: 48px;
      width: 100%;
      opacity: 0;
      //background-color: aqua;
      position: absolute;
      top: 0;
      //right: 50%;
      left: 0;
      z-index: 2;
      animation: 1s linear error-slide;
    }
  }

  .amount._active{
    padding: 0;
  }

  .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;

    @include mx.media-q("md") {
      gap: 16px;
    }
  }

  .btn{
    padding: 12px 28px;
    font-weight: 400;
    font-size: 14px;

    @include mx.media-q("md") {
      font-size: 18px;
      margin: 0;
    }

    @include mx.media-q("xl") {
      font-size: 20px;
    }
  }

  .btn._hide{
    display: none;

    @media (min-width: 483px) {
      display: inline-block;
    }
  }

  .btn._active{
    box-shadow: 0 4px 4px 0 rgba(91, 89, 93, 0.25);
    background: var.$secondary-hover;
    color: var.$secondary-black;
  }
}

@keyframes error-slide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-100%) scale(2);
  }
}