@use "../../../../../../styles/variables" as var;
@use "../../../../../../styles/mixins.scss" as mx;

.input_select{
  width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
  //overflow: hidden;
  .wrapper{
    position: relative;
    .input{
      width: 100%;
      @include mx.apply-font-styles(var.$text-16-font);
      color: var.$secondary-black;
      border: 2px solid transparent;
      border-radius: 8px;

      padding: 10px;
      outline: 0;
      background: var.$secondary-white;
      transition: all var.$transition-duration-base var.$transition-timing-base;
    }
    .input._error {
      border: 2px solid var.$secondary-error;
    }
    .input._success {
      border: 2px solid var.$secondary-positive;
    }
    .input._icon{
      padding-right: 38px;
    }

    .icon{
      position: absolute;
      width: 50px;
      height: 80%;
      right: 4px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background: var.$secondary-white;
    

      & > p{
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
        color: #000;
        padding: 5px;
      }
      .btn{
        margin: 10px;
        transition: all var.$transition-duration-base var.$transition-timing-base;

        transform: rotate(-90deg);
        &._active{
          transform: rotate(90deg);
        }
      }
      .btn:hover{
        opacity: .7;
      }
    }
 
 
  }
  .options{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    overflow: hidden;
    left: 0;
    bottom: -90%;
    background-color: rgba(240, 248, 255, 0.479);
    border-radius: 5px;
    padding-top: 20px;
    padding: 20px 5px 5px;
    z-index: 2;
    
    &>li{
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
      background: rgba(0, 0, 0, 0.5);
      transition: all .3s;

      &:hover{
        transform: scale(1.02);
        background: rgba(0, 0, 0, 0.7);
      }
      &._active{
        background: rgba(0, 0, 0, 0.8);
      }
    }
    &._hide{
      //bottom: 0;
      height: 0px;
      padding: 0;
      margin: 0;
    }
  }

  .label{
    @include mx.apply-font-styles(var.$text-20-font);
    font-weight: 600;
    font-size: 18px;
    & > span {
      color: var.$secondary-error;
    }
    &._hide{
      visibility: hidden;
    }
  }

  .error{
    min-height: 18px;
    @include mx.apply-font-styles(var.$text-16-font);
    font-size: 14px;
    line-height: normal;
    color: var.$secondary-error;
  }
}