@use "../../../../styles/mixins" as mix;
@use "../../../../styles/variables" as var;

.list{
  width: 100%;
  max-width: 1050px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  .item{
    min-width: 320px;
    width: 100%;
    position: relative;
    overflow: hidden;

    .btns{
      min-width: 180px;
      min-height: 100px;
      padding: 8px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 3;
      display: flex;
      gap: 10px;
      justify-content: flex-end;
      .btn{
        background-color: black;
        border: 1px solid white;
        border-radius: 4px;
        padding: 0;
        width: 40px;
        height: 40px;
        margin: 0;
      }
    }
  }
}

.length{
  @include mix.apply-font-styles(var.$h2-font);
  width: 100%;
  text-align: center;
  font-size: 24px;
}