@import "../../../styles/variables";
@import "../../../styles/mixins";

.card {
  display: flex;
  justify-content: center;
  gap: 33px;
  padding: 12px 0;
}

.person {
  display: flex;
  align-items: start;
}

.imageContainer {
  position: relative;
  width: 173px;
  height: 173px;
  flex-shrink: 0;
  border-radius: 12px;
  overflow: hidden;
  & > img {
    object-fit: cover;
  }
}

.profile {
  transform: translateX(-20%);
  flex-shrink: 0;
  min-width: 154px;
  padding: 6px 12px;
  border-radius: 12px;
  background: rgba(210, 210, 210, 0.5);
  text-align: left;
}

.personInfo {
  margin-bottom: 8px;
}

.name {
  @include apply-font-styles($h3-font);
  letter-spacing: 0.01em;
  color: $secondary-black;
}

.role {
  @include apply-font-styles($text-16-font);
  letter-spacing: 0.01em;
  color: $secondary-black;
}

.date {
  @include apply-font-styles($text-16-font);
  letter-spacing: 0.01em;
  color: $secondary-text;
}

.text {
  @include apply-font-styles($text-16-font);
  color: $secondary-white;
  max-width: 600px;
  text-align: left;
  padding: 10px 0;
}
