@import "../../styles/variables";
@import "../../styles/mixins";

.box {
  @include apply-font-styles($menu);
  line-height: normal;
  color: $secondary-white;
  position: relative;
  
  .btn_lang {
    width: 65px;
    padding: 14px 8px;
    display: flex;
    align-items: center;
    transition: all .3s;
  }
  .btn_icon_up{
    height: 24px;
    transform: rotate(180deg);
  }
  .btn_icon {
    height: 24px;
  }

  .options {
    display: flex;
    flex-direction: column;
    background-color: $primary-primary;
    width: 65px;
    border-radius: 2px;
    position: absolute;
    bottom: -80px;
    left: 0;
    z-index: 2;
  }
  .options_item_btn{
    padding: 8px;
    text-align: start;
    transition: all .3s;
  }
  .btn_lang:focus,
  .btn_lang:hover,
  .options_item_btn:focus,
  .options_item_btn:hover{
     // color:#C0A4B7;
    opacity: .6;
  }
}
