@import "/src/styles/variables";

.section {
  background-color: $primary-footer;
  padding: 0 120px;
}

.block {
  max-width: 1680px;
}

.footer {
  margin: 68px auto 56px auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 0 73px 52px 0;
}

.contacts {
  width: 397px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
