@use "../../../styles/variables" as var;

.section {
  background-color: var.$primary-footer;
}

.block {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 15px;
  @media (max-width: 1024px) {
    min-width: 688px;
  }
}

.footer {
  margin: 68px auto 56px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  align-items: center;

  @media (min-width: 1025px) {
    width: auto;
  }

  @media (max-width: 1024px) {
    margin-top: 24px;
  }
}

// @media (max-width: 420px) {
//   flex-direction: column;
//   align-items: center;
//   text-align: center;
// }
