@import "/src/styles/variables";

.section {
  background-color: $primary-footer;
}

.block {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer {
  margin: 68px auto 56px auto;
  display: flex;
  justify-content: space-between;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
