@use "../../../styles/variables" as var;
@use "../../../styles/mixins.scss" as mx;

.btn_main {
  @include mx.apply-font-styles(var.$button);
  position: relative;
  overflow: hidden;
  color: var.$secondary-white;
  padding: 14px 24px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 2;
  box-shadow: none;
  border: none;
  transition: all var.$transition-duration-base var.$transition-timing-base;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var.$button-gradient;
    background: linear-gradient(135deg, #e37cc1 0%, #e231a8 36.5%, #8c2e6d 76%, #741e58 100%);
    background: var.$icons-gradient;
    transition: all var.$transition-duration-base var.$transition-timing-base;
  }

  &::before {
    content: "";
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var.$primary-hover;
    background: var.$button-gradient;
    transition: all var.$transition-duration-base var.$transition-timing-base;
  }

  &:hover::after{
    opacity: 0;
  }
  &:hover::before{
    opacity: 1;
  }

  &:hover{
    //color: var.$secondary-black;
  }

  &:disabled::after {
    opacity: 0;
  }
  &:disabled {
    background: var.$primary-hover;
    color: var.$secondary-text;
    cursor: default;
  }
  &:disabled::after{
    opacity: 0;
  }
  &:disabled::before{
    opacity: 0;
  }


}

.btn_modal {
  @include mx.apply-font-styles(var.$text-20-font);
  color: var.$secondary-white;
  padding: 15px 32px;
  border: 1px solid var.$secondary-white;
  border-radius: 8px;
  cursor: pointer;
  background: none;
  box-shadow: none;
  transition: all var.$transition-duration-base var.$transition-timing-base;

  &:hover,
  &:focus {
    box-shadow: 0 4px 4px 0 rgba(91, 89, 93, 0.25);
    background: var.$secondary-hover;
    color: var.$secondary-black;
  }

  &:disabled {
    background: var.$secondary-gray;
    color: var.$secondary-text;
    cursor: default;
  }
}
