.section{
  width: 100%;
  display: flex;
  flex-direction: column;



  .srroll_wrapper{
    display: flex;
    max-height: 800px;
    width: 100%;
    height: 100%;
    //background-color: aqua;
    overflow-y: auto;
    padding: 32px 24px;

    .input{
      width: 50px;
      height: 20px;
      margin-left: 20px;
    }
    .btn{
      width: 100px;
      height: 30px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 20px;
      border: 2px solid black;
      background-color: rgb(3, 31, 82);
    }
  }
}