@use "sass:math";
@use "../../../../styles/variables" as var;

.burgerIcon {
  display: block;
  position: relative;
  width: 27px;
  height: 21px;
  z-index: 12;
  @media (any-hover: none) {
    cursor: default;
  }
  span,
  &::before,
  &::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var.$secondary-white;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  span {
    top: calc(50% - 1px);
  }
  &.opened {
    span {
      width: 0;
    }
    &::before {
      top: calc(50% - 1px);
      transform: rotate(-45deg);
    }
    &::after {
      bottom: calc(50% - 1px);
      transform: rotate(45deg);
    }
  }
  @media (min-width: 993px) {
    display: none;
  }
}
