@use "../../../styles/mixins" as mix;
@use "../../../styles/variables" as var;

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 16px;
  margin: auto;

  .modal {
    background: var.$primary-fon-card;
    padding: 44px 8px 24px 8px;
    margin: auto;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    //border-color: var.$primary-border;
    border-color: var.$primary-border;
    position: relative;
    //max-width: 689px;
    max-width: 689px;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include mix.media-q("md") {
      padding: 48px 32px 32px 32px;
    }
    // .title{
    //   @include mix.apply-font-styles(var.$h1-font);
    // }
  
    .closeButton {
      position: absolute;
      top: 18px;
      right: 18px;
    }
  }
}

