@use "../../../styles/mixins" as mix;
@use "../../../styles/variables" as var;

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 10px;
  margin: auto;

  .modal {
    background: #180530;
    padding: 48px 32px 32px 32px;
    margin: auto;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: var.$primary-border;
    position: relative;
    max-width: 689px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .title{
      @include mix.apply-font-styles(var.$h1-font);
    }
  
    .closeButton {
      position: absolute;
      top: 18px;
      right: 18px;
    }
  }
}

