@use "../../../../../styles/mixins" as mix;
@use "../../../../../styles/variables" as var;


.wrapper{
  border-radius: 16px;
  border: 2px solid var.$primary-border;
  background-color: var.$primary-bg-card-blog;
  padding: 16px 8px;
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-template-rows: .2fr 1fr .2fr;

  .img{
    width: 300px;
    height: 200px;
    position: relative;
    grid-area: 1 / 1 / 3 / 2;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 15px;
    
    & > img{
      display: block;
      width: 100%;
    }
    .date{
      position: absolute;
      width:fit-content;
      z-index: 3;
      top: 6px;
      left: 3px;
      padding: 4px 8px;
      border-radius: 20px;
      background-color: var.$secondary-gray;
    
      @include mix.apply-font-styles(var.$text-16-font);
      font-size: 14px;

    }
  }
  .title{
    @include mix.apply-font-styles(var.$h2-font);
    margin-bottom: 24px;
    font-weight: 700;
    color: var.$secondary-black;
    grid-area: 1 / 2 / 2 / 3; 
  }
  .text{
    @include mix.apply-font-styles(var.$text-16-font);
    grid-area: 2 / 2 / 3 / 3;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 4;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: var.$secondary-black;
  }
  .btn{
    @include mix.apply-font-styles(var.$text-16-font);
    font-size: 16px;
    grid-area: 3 / 3 / 3 / 3;
    margin-top: 15px;
    color: var.$secondary-black;
    padding: 10px;
    &:hover{
      opacity: .8;
    }
  }
}