@use "../../../styles/variables" as var;

.scrollToTopBtnActive {
  display: block;
  position: fixed;
  bottom: 10%;
  right: 5%;
  z-index: 99;

  width: 53px;
  height: 53px;

  padding-top: 6px;

  border: 2px solid var.$primary-border;
  background-color: var.$primary-fon-card;

  border-radius: 50%;

  cursor: pointer;
  transition: background-color 0.5s var.$transition-timing-base ;
}

.scrollToTopBtnActive:hover {
  background-color: var.$secondary-hover;
}
