@use "../../../styles/variables" as var;

.scrollToTopBtn {
  display: none;
}

.scrollToTopBtnActive {
  display: none;
  background-color: var.$primary-fon-card;
}

@media only screen and (min-width: 768px) {
  .scrollToTopBtnActive {
    display: block;
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 99;

    width: 53px;
    height: 53px;

    padding-top: 6px;

    border: 2px solid var.$primary-border;
    border-radius: 50%;

    cursor: pointer;
    transition: opacity var.$transition-timing-base
      var.$transition-duration-base;
  }
}

.scrollToTopBtnActive:hover {
  background-color: var.$secondary-hover;
}
