@use "../../../styles/mixins" as mix;
@use "../../../styles/variables" as var;

.link{
  @include mix.apply-font-styles(var.$h2-font);
  font-weight: 400;
  font-size: 20px;

  & > a {
    font-weight: 400;
    font-size: 20px;
    background: var.$icons-gradient;
    background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    transition: all var.$transition-duration-base var.$transition-timing-base;
  }
  & > a:hover{
    opacity: .7;
  }
}