@use "../../../styles/mixins" as mix;
@use "../../../styles/variables" as var;

.wrapper{
  width: 100%;
  min-height: 236px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px 0 rgba(234, 232, 232, 0.25), 0 2px 12px 0 rgba(234, 232, 232, 0.25);
  background: var.$secondary-hover;
  margin-bottom: 60px;
  border-radius: 5px;

}
.btn{
  min-height: 55px;
  min-width: 240px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  gap: 5px;
}