.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  color: black;

  h2 {
    color: #6200ee;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="url"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }

  .checkbox-group {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;

    label {
      flex: 1 1 50%;
      margin-bottom: 10px;

      input {
        margin-right: 10px;
      }
    }
  }

  button {
    background-color: #6200ee;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #7f39fb;
    }
  }
}
