@use "../../styles/mixins" as mix;
@use "../../styles/variables" as var;

.modal {
  background: #180530;
  padding: 48px 32px 32px 32px;
  margin: auto;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: #ff62ce;
  position: relative;
  width: 689px;
  display: flex;
  align-items: center;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    h2 {
      @include mix.apply-font-styles(var.$h1-font);
    }
    .submit {
      position: relative;
    }
  }

  .closeButton {
    position: absolute;
    top: 18px;
    right: 18px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 20px;
  }
}
