@use "../../../styles/variables" as var;
@use "../../../styles/mixins" as mx;

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  border-radius: 16px;
  border: 2px solid var.$primary-border;
  background-color: var.$primary-bg-card-blog;
  padding: 16px 8px;
  max-width: 1060px;

  @media only screen and (min-width: 600px) {
    padding: 24px 16px;
    gap: 16px;
  }

  @include mx.media-q("xl") {
    padding: 24px 20px 24px 16px;
  }

  @include mx.media-q("xxxl") {
    padding-right: 25px;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  gap: 8px;
  @media only screen and (min-width: 600px) {
    gap: 16px;
  }
}

.img {
  flex: 1 0 30%;
  position: relative;
  min-height: 130px;
  & > img {
    object-fit: cover;
  }
  @media (min-width: 768px) {
    min-height: 150px;
  }
}

.date {
  position: absolute;
  top: 6px;
  left: 0px;
  padding: 4px 8px;
  border-radius: 20px;
  background-color: var.$secondary-gray;

  @include mx.apply-font-styles(var.$text-16-font);
  font-size: 14px;
}

.content {
  flex: 1 1 auto;
  max-width: 100%;
  @include mx.media-q("md") {
  }
  h3 {
    @include mx.apply-font-styles(var.$h2-font);
    margin-bottom: 16px;
    font-weight: 700;
    color: var.$secondary-black;

    @include mx.media-q("md") {
      font-size: 24px;
    }
  }

  p {
    @include mx.apply-font-styles(var.$text-16-font);

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: var.$secondary-black;
  }
}
