@use "../../../styles/variables" as var;
@use '../../../styles/mixins' as mixin;

.partnerCardItem {
  border-radius: 8px;
  width: 288px;
  height: 172px;
  img {
    object-fit: contain;
    width: 288px;
    height: 172px;
  }

  @include mixin.media-q("md") { 
    border-radius: 8px;
    width: 340px;
    height: 197px;
    img {
      object-fit: contain;
      width: 340px;
      height: 172px;
    }
  }
  @include mixin.media-q("xl") { 
    position: relative;
    width: 396px;
    height: 230px;
    img{
      width: 396px;
      height: 230px;
      }
 
}
  @include mixin.media-q("xxxl") { 
    width: 396px;
    height: 230px;
    img{
    width: 396px;
    height: 230px;
    }
}
}
