@use "../../../styles/variables" as var;
@use '../../../styles/mixins' as mixin;

.partnerCardItem {
  border-radius: 8px;
  padding: 10px;
  width: 95vw;
  max-height: 230px;
  height: 40vw;
  background-color: var.$secondary-white;
  display: flex;
  align-items: center;
  transition: all .8s;
  filter: blur(3px) brightness(40%);
  
  @media (any-hover: hover){
    &:hover{
      transform: scale(1.02);
    }
  }

  &._active{
    opacity: 1;
    filter: none;
    @media (min-width: 720px) {

      transform: translateX(-20px)
    }
    @include mixin.media-q("xl") { 
      transform: translateX(-30px)
    }
   
  }

  &._disabled{
    cursor: default;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
 
    @media (min-width: 720px) {

      display: flex;
    }

    @include mixin.media-q("xl") { 
      transform: translateX(-30px)
    }
    @include mixin.media-q("xl") { 
      transform: translateX(-20px)

    }

  }

  .img_wrap {
    position: relative;
    width: 100%;
    height: 100%;

    .img{
      object-fit: contain;
      object-position: center;
    }
  }

  @media (min-width: 720px) {

    width: 50vw;
    height: 230px;
  }
  @include mixin.media-q("xl") { 
    width: 470px;
    height: 230px;
  }
}