@use "../../../styles/variables" as var;
@use '../../../styles/mixins' as mixin;

.partnerCardItem {
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  max-height: 230px;
  height: 40vw;
  background-color: var.$secondary-white;
  display: flex;
  align-items: center;
  transition: all .8s;
  filter: blur(3px) brightness(40%);

  @include mixin.media-q("md") {
    height: 200px;
    width: 100%;
  }

  @media (any-hover: hover){
    &:hover{
      transform: scale(1.02);
    }
  }

  &._active{
    opacity: 1;
    filter: none;
  }

  &._disabled{
    cursor: default;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
  }

  .img_wrap {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;

    .img{
      object-fit: contain;
      object-position: center;
    }
  }
}