@import "../../styles/variables";
@import "../../styles/mixins";

.section{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 60px 64px;

  .title{
    @include apply-font-styles($h2-font);
    //color: $secondary-white;
  }
  
}