@use "../../../../styles/variables" as var;
@use '../../../../styles/mixins' as mixin;

.preview{
  min-height: 180px;
  .card{
    width: 360px;
    height: 180px;
  }

  .partnerCardItem {
    border-radius: 8px;
    padding: 10px;
    width: 360px;
    height: 180px;
    background-color: var.$primary-hover;
    display: flex;
    align-items: center;

    .img_wrap {
      position: relative;
      margin: auto;
      width: 100%;
      height: 100%;
  
      .img{
        object-fit: contain;
        object-position: center;
        border-radius: 10px;
        overflow: hidden;
      }
    }
    &._noimage{
      background: none;
      border: 1px solid  var.$primary-hover;
      padding: 20px;
    }
  }
}