@use "../../../../styles/variables" as var;
@use "../../../../styles/mixins.scss" as mx;

.form{
  color: var.$secondary-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 5px;
  gap: 16px;

  @include mx.media-q("md") {
    padding: 24px 16px;
    gap: 32px;
  }

  & > p{
    @include mx.apply-font-styles(var.$h3-font);
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 20px;

    @media (min-width: 420px) {
      font-size: 24px;
    }

    @include mx.media-q("md") {
      font-weight: 700;
      gap: 13px;
    }

    .icon{
      display: block;
      width: 24px;
      height: 24px;
    }
  }

  .amount{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;

    .vertical_line{
      width: 1px;
      height: 110px;
      background: var.$primary-border;
      animation: 1s linear line-opacity infinite;

      @media (min-width: 420px) {
        height: 117px;
      }

      @include mx.media-q("md") {
        height: 122px;
      }
    }

    .text{
      color: var.$secondary-white;
      @include mx.apply-font-styles(var.$h2-font);
      font-size: 90px;
      line-height: normal;

      @media (min-width: 420px) {
        font-size: 96px;
      }

      @include mx.media-q("md") {
        font-size: 100px;
      }
    }

    .currency{
      display: block;
      width: 32px;
      height: 38px;
      margin-left: 10px;
    }

    .error{
      @include mx.apply-font-styles(var.$h2-font);
      font-size: 90px;
      //line-height: normal;
      color: var.$secondary-error;
      text-align: center;
      width: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      animation: 1s linear error-slide;

      @media (min-width: 420px) {
        font-size: 96px;
      }

      @include mx.media-q("md") {
        font-size: 100px;
      }
    }

    .error._message{
      font-size: 35px;
      top: 20%;

      @media (min-width: 420px) {
        font-size: 50px;
      }
    }
  }

  .input{
    z-index: 2;
    background: none;
    color: var.$secondary-white;
    outline: 0;
    padding-right: 20px;
    text-align: center;
    @include mx.apply-font-styles(var.$h2-font);
    font-size: 90px;
    line-height: normal;

    @media (min-width: 420px) {
      font-size: 96px;
    }

    @include mx.media-q("md") {
      font-size: 100px;
    }
  }
  
  .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;

    @include mx.media-q("md") {
      gap: 16px;
    }
  }

  .btn,
  .label{
    display: inline-block;
    @include mx.apply-font-styles(var.$text-20-font);
    line-height: normal;
    color: var.$secondary-white;
    border: 1px solid var.$secondary-white;
    border-radius: 8px;
    transition: all var.$transition-duration-base var.$transition-timing-base;
    padding: 15px 32px;
    font-weight: 400;
    font-size: 14px;
    position: relative;

    @include mx.media-q("md") {
      font-size: 18px;
    }

    @include mx.media-q("xl") {
      font-size: 20px;
    }

    .input{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }

    &._active,
    &:hover,
    &:focus {
      background: var.$secondary-hover;
      color: var.$secondary-black;
      border: 1px solid var.$primary-border;
      box-shadow:
      inset 1px 1px var.$primary-border,
      inset -1px -1px var.$primary-border;
    }
  }

  .btn._hide{
    display: none;

    @media (min-width: 483px) {
      display: inline-block;
    }
  }

  &._active{
    border: 1px solid var.$primary-border;
    box-shadow:
    inset 1px 1px var.$primary-border,
    inset -1px -1px var.$primary-border;
  }
}


// Анімація повідомлення про помилку.
@keyframes error-slide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-100%) scale(2);
  }
}
// Анімація курсор.
@keyframes line-opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}