.header{
  padding: 32px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & h1{
    font-weight: 600;
    font-size: 40px;
  }
  .options{
    display: flex;
    align-items: center;
    gap: 24px;

    // &._hide{
    //   display: none;
    // }
  }
}