@use "../../../../styles/mixins" as mx;
@use "../../../../styles/variables" as var;

.btn {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  transition: all var.$transition-duration-base var.$transition-timing-base 0s;
  span {
    @include mx.apply-font-styles(var.$h6-font);

    @include mx.media-q("md") {
      font-weight: 700;
      font-size: 24px;
      line-height: 1.4;
      margin-bottom: 13px;
      margin-top: 13px;
    }
  }

  @include mx.media-q("md") {
    gap: 16px;
  }

  @include mx.media-q("xl") {
    gap: 24px;
  }

  @media (any-hover: hover) {
    &:hover {
      color: var.$primary-hover;
      .goBackIcon {
        fill: var.$primary-hover;
      }
    }
  }
}
.goBackIcon {
  transform: rotate(180deg);
  height: 26px;
  width: 16px;
  margin: 3px 4px;
  fill: var.$secondary-white;
  transition: all var.$transition-duration-base var.$transition-timing-base 0s;

  @include mx.media-q("md") {
    height: 30px;
    width: 19px;
    margin: 15px 11px 15px 10px;
  }
}
