@use "../../styles/mixins" as mixins;
@use "../../styles/variables" as var;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  padding: 32px 16px;
  min-width: 280px;
  max-width: 100%;
  height: fit-content;
  background: var.$primary-gradient;

  @include mixins.media-q("md") {
    gap: 32px;
    padding: 48px 40px;
    min-width: 768px;
   }

  @include mixins.media-q("xl") { 
  gap: 48px;
  padding: 60px 64px;
  min-width: 1366px;

}

@include mixins.media-q("xxxl") { 
  gap: 48px;
  padding: 72px 120px;
  min-width: 1920px;
  height: fit-content;
  background: var.$primary-gradient;

}
}
.titleWrapper {
  @include mixins.apply-font-styles(var.$h6-font);
  
  @include mixins.media-q("md") {
    @include mixins.apply-font-styles(var.$h5-font);
  }
  @include mixins.media-q("xl") { 
  @include mixins.apply-font-styles(var.$h1-font);
}
}