@use "../../../styles/variables" as var;

.header {
  .logo {
   // transition: all var.$transition-duration-base var.$transition-timing-base;
    display: block;
    width: 60px;
    height: 60px;
    fill: var.$secondary-white;
  }
  // @media (any-hover: hover) {
  //   &:hover .logo {
  //     fill: var.$primary-hover;
  //   }
  // }
}

.footer {
  .logo {
    //transition: all var.$transition-duration-base var.$transition-timing-base;
    display: block;
    width: 120px;
    height: 120px;
    fill: var.$secondary-white;
  }

  // @media (any-hover: hover) {
  //   &:hover .logo {
  //     fill: var.$primary-hover;
  //   }
  // }
}

@media (max-width: 696px) {
  .footer {
    .logo {
      width: 100px;
      height: 100px;
    }
  }
}
