@import "../../styles/variables";

.list {
  display: flex;
  align-items: center;

  margin: 12px 18px;
  background-color: $primary-footer; //delete later
}

.list > *:not(:last-child) {
  margin-right: 40px;
}
