@use "../../../../styles/mixins" as mix;
@use "../../../../styles/variables" as var;

.list{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .item{
    min-width: 320px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-radius: 5px;
    background: var.$secondary-white;
    @include mix.apply-font-styles(var.$text-16-font);
    color: var.$secondary-black;
    .btns{
      display: flex;
      gap: 10px;
      .btn{
        background-color: black;
        border: 1px solid white;
        border-radius: 4px;
        padding: 0;
        width: 40px;
        height: 40px;
        margin: 0;
      }
    }
  }

  .pagination{
    padding-top: 15px
  }
}

.length{
  @include mix.apply-font-styles(var.$h2-font);
  width: 100%;
  text-align: center;
  font-size: 24px;
}